<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>客户案例</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  
  <link rel="alternate icon" type="/cms/img/HENGWANG.png" href="/cms/img/HENGWANG.png">
  <link rel="stylesheet" href="/cms/css/amazeui.css"/>
  <link rel="stylesheet" href="/cms/css/style.css"/>
</head>
<body>
<div th:replace="cms/layout/mallHeader"></div>

<div class="toppic">
	<div class="am-container-1">
	 <div class="toppic-title left">
			<i class="am-icon-briefcase toppic-title-i"></i>
			<span class="toppic-title-span">客户案例</span>
			<p>Customer Case</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="index.html" class="w-white">首页</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="customer-case.html" class="w-white">客户案例</a></span>
		</div>
	</div>
</div>

<div class="am-container-1">
	 <ul data-am-widget="gallery" class="am-gallery am-avg-sm-1
  am-avg-md-3 am-avg-lg-4 am-gallery-bordered customer-case-ul" data-am-gallery="{  }" >
      <li th:each="goods:${articles}">
        <div class="am-gallery-item">
            <a th:href="@{'/cms/web/goodsDetail/'+${goods.id}}" class="">
            	<div class="customer-case-img">
              <img width="211px" height="211px" th:src="@{${goods.img}}" />
             </div>
                <h3 class="am-gallery-title" th:text="${goods.title}">响应式商城</h3>
                <div class="am-gallery-desc gallery-words" th:utext="${goods.remark}">一款响应式商城模板，是专门针对中小物流企业的实际业务需求量身定做的物流管理系统，具有界面简洁、流程灵活、操作方便、易于实施的特点。 该产品基于领先的云计算技术，用户无需在本地安装软件、无需购买专门的服务器硬件、无需专业的IT人员进行维护， 只要打开浏览器，登录网站，即可使用在线物流软件。</div>
            </a>
        </div>
      </li>

  </ul>
	
</div>
<div class="part-all gray-li">
<div class="customer  am-container-1">
		<div class="part-title">
			<i class="am-icon-users part-title-i"></i>
			<span class="part-title-span">服务客户</span>
			<p>Serve Customers</p>
		</div>
		
		<div class="am-slider am-slider-default am-slider-carousel part-all" data-am-flexslider="{itemWidth:150, itemMargin: 5, slideshow: false}" style="  background-color: #f0eeed; box-shadow:none;">
		  <ul class="am-slides">
			  <li th:each="link:${links}"><a target="_blank" th:href="@{${link.href}}">
				  <img width="150px" height="80px" th:src="@{${link.image}}"/></a>
			  </li>
		   </ul>
		</div>
</div>
</div>
<div th:replace="cms/layout/mallFooter"></div>

</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets//cms/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/cms/js/jquery.min.js"></script>
<script src="/cms/js/amazeui.min.js"></script>

</html>
