
<footer class="footer ">

	<ul>

		<li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
			<div class="part-5-title">联系我们</div>
			<div class="part-5-words2">
				<span>地址:北京市洪山区街道口鹏程国际B座2511</span>
				<span>电话:13146587722</span>
				<span>传真:(123) 456-7890</span>
				<span>邮箱:951449465@qq.com</span>
				<span><i class="am-icon-phone"></i><em >027-82671661</em></span>
			</div>
		</li>
		<li class="am-u-lg-4 am-u-md-4 am-u-sm-12 ">
			<div class="part-5-title">相关链接</div>
			<div class="part-5-words2">
				<ul class="part-5-words2-ul">
					<li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/cms/web/solutions">解决方案</a></li>
					<li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/cms/web/product">产品展示</a></li>
					<li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/cms/web/case">客户案例</a></li>
					<li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/cms/web/service">服务中心</a></li>
					<li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/cms/web/aboutus">关于我们</a></li>
					<li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/cms/web/recruit">招贤纳士</a></li>
					<div class="clear"></div>
				</ul>
			</div>
		</li>
		<div class="clear"></div>
	</ul>

