<div class="hb_cont_l">
        	<div class="hb_l_tit1">我的和包</div>
            <dl class="hb_l_nav">
            	<dt>订单中心</dt>
                <dd class="hover"><a href="gl_cgddc.html">采购订单池</a></dd>
				<dd><a href="gl_wddd.html">我的订单</a></dd>
                <dd><a href="gl_spydd.html">商品预订单</a></dd>
                <dd><a href="gl_sphsd.html">商品回收单</a></dd>
				<dd><a href="gl_wodeddcf.html">订单拆分</a></dd>
                <dd><a href="gl_sqzx.html">诉求中心</a></dd>
           	</dl>
			<dl class="hb_l_nav">
            	<dt>信息查询</dt>
                <dd class="hover"><a href="gl_qyddcx.html">区域订单查询</a></dd>
                <dd><a href="gl_yddcx.html">预订单查询</a></dd>
                <dd><a href="gl_bhdcx.html">补货单查询</a></dd>
                <dd><a href="gl_bhdmxb.html">补货单明细表</a></dd>
				<dd><a href="gl_bhdtjjk.html">补货统计监控</a></dd>
                <dd><a href="gl_bhdmxjk.html">补货明细监控</a></dd>
                <dd><a href="gl_xxwlcx.html">物流查询</a></dd>
				<dd><a href="gl_sjhcx.html">手机imei号查询</a></dd>
                <dd><a href="gl_xypj.html">信用评价</a></dd>
                <dd><a href="gl_dzqjsbb.html">电子券结算报表</a></dd>
				<dd><a href="gl_fhcx.html">发货查询</a></dd>
           	</dl>
			<dl class="hb_l_nav">
            	<dt>订单监控</dt>
                <dd class="hover"><a href="gl_ddjsbb.html">日常订单监控</a></dd>
                <dd><a href="gl_csddjk.html">超时订单监控</a></dd>
                <dd><a href="gl_tsyzjk.html">推送邮局监控</a></dd>
                <dd><a href="gl_yzhtjk.html">邮政回调监控</a></dd>
				<dd><a href="gl_kcyjjk.html">库存预警监控</a></dd>
           	</dl>
			<dl class="hb_l_nav">
           	  <dt>客户服务</dt>
           	  <dd><a href="password.html">密码修改</a></dd>
                <dd><a href="gl_thgl.html">退货管理</a></dd>
           	</dl>
        </div>