<div class="hb_cont_l">
        	<div class="hb_l_tit1">我的和包</div>
            <dl class="hb_l_nav">
            	<dt>交易管理</dt>
                <dd class="hover"><a href="wdsc.html">我的商品</a></dd>
                <dd><a href="mj_ gmgdedp.html">店铺配置</a></dd>
                <dd><a href="wodedd.html">我的订单</a></dd>
                <dd><a href="mj_wlcx.html">物流查询</a></dd>
                <dd><a href="zyyytbh.html">营业厅补货单</a></dd>
                <dd><a href="mj_wdjbd.html">我的价保单</a></dd>
                <dd><a href="wdyssp.html">我的预售商品</a></dd>
                <dd><a href="mj_wdydd.html">我的预订单</a></dd>
                <dd><a href="wdhsd.html">我的回收单</a></dd>
           	</dl>
            <dl class="hb_l_nav">
            	<dt>报表管理</dt>
                <dd><a href="ddbb.html">订单报表</a></dd>
                <dd><a href="mj_wdydd.html">预订单报表</a></dd>
                <dd><a href="mj_wdbhdbb.html">补货单明细表</a></dd>
                <dd><a href="mj_dhqrtj.html">补货单统计监控</a></dd>
                <dd><a href="mj_bhddhqr.html">补货单明细监控</a></dd>
                <dd><a href="ghskclb.html">库存报表</a></dd>
                <dd><a href="kcyjbb.html">库存预警报表</a></dd>
           	</dl>
            <dl class="hb_l_nav">
            	<dt>客户服务</dt>
                <dd><a href="mj_thgl.html">退货管理</a></dd>
                <dd><a href="mj_wdshengao.html">申告管理</a></dd>
                <dd><a href="wdzzh.html">子帐号管理</a></dd>
           	</dl>
        </div>