<div class="hb_cont_l">
        	<div class="hb_l_tit1">我的和包</div>
            <dl class="hb_l_nav">
            	<dt>订单中心</dt>
                <dd class="hover"><a href="hb_wddd.html">我的订单</a></dd>
                <dd><a href="hb_wdbhd.html">我的补货单</a></dd>
                <dd><a href="hb_wdydd.html">我的预订单</a></dd>
                <dd><a href="hb_wdjbd.html">我的价保单</a></dd>
           	</dl>
            <dl class="hb_l_nav">
            	<dt>报表中心</dt>
                <dd><a href="hb_bhddhqr.html">补货单到货确认明细</a></dd>
                <dd><a href="hb_cgbb.html">采购报表</a></dd>
                <dd><a href="hb_thbb.html">退货报表</a></dd>
                <dd><a href="hb_imei.html">手机imei号查询</a></dd>
                <dd><a href="hb_wdbhdbb.html">我的补货单报表</a></dd>
                <dd><a href="dhqrtj.html">我的补货单到货统计</a></dd>
           	</dl>
            <dl class="hb_l_nav">
            	<dt>账户中心</dt>
                <dd><a href="dzgl.html">地址管理</a></dd>
                <dd><a href="gmgdedp.html">购买过的店铺</a></dd>
           	</dl>
            <dl class="hb_l_nav">
            	<dt>客户服务</dt>
                <dd><a href="thgl.html">退货管理</a></dd>
                <dd><a href="sppj.html">评价管理</a></dd>
                <dd><a href="wdshengao.html">我的申告</a></dd>
                <dd><a href="wdtsck.html">我的投诉</a></dd>
           	</dl>
        </div>