<div class="hb_navbox">
    	<div class="hb_navbox_l">
        	<div class="hb_nava">首页</div>
            <div class="hb_nav_zhsz">
            	<div class="hb_nav_zhsz_wz">账户设置
                	<ul class="top_yca">
                        <li>个人资料</li>
                        <li>收货地址</li>
                	</ul>
                </div>
            </div>
            <div class="hb_nav_xx">
            	<div class="hb_nav_xx_wz">消息
                	<ul class="top_yca">
                        <li>降价提醒</li>
                        <li>新品上架</li>
                        <li>服务提醒</li>
                        <li>物流提醒</li>
                	</ul>
                </div>
            </div>
        </div>
        <div class="hb_navbox_r">
        	<div class="hb_navbox_r_1">商品
            	<ul><li style="display:none;">店铺</li></ul>
            </div>
            <div class="hb_navbox_r_2"><input name="" type="text" /></div>
            <div class="hb_navbox_r_3"><a href="#"><img src="/web/images/hb_navbox_r_3.gif" width="20" height="25" /></a></div >
        </div>
        <div class="clear"></div>
    </div>