<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<div th:replace="web/include/top"></div>
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 个人中心
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_jbxx">
            	<div class="hb_r_jbxx1">
                	<div class="hb_jbxx_img">
                    	<a href="#"><img src="../images/grzp.gif" height="110" width="110" /></a>
                        <p><a href="#">我的资料</a></p>
                    </div>
                    <div class="hb_jbxx_mid">
                    	<div class="hb_mid_wel">
                        	<span class="font18 fontb clff4400">sdwch,</span><span class="font14 cl252525 ml15">欢迎您！</span><a href="#" class="ml15">我的收货地址</a>
                        </div>
                        <div class="hb_mid_abc">
                        	<ul class="">
                                <li>
                                    <span>订单提醒：</span>
                                    <span class="cl9b9b9b">待处理订单（0）</span>
                                    <a href="#" class="cl005ea7">待评价商品（19）</a>
                                    <a href="#" class="cl005ea7">待晒单商品（16）</a>
                                    <span>我的积分：<span class="cl9b9b9b">0</span></span>
                                    <span>电子券：<span class="cl9b9b9b">（0）张</span></span>
                                </li>
                                <li>
                                    <span>消息灵通：</span>
                                    <a href="#" class="cl9b9b9b">提醒/通知（4）</a>
                                    <a href="#" class="cl005ea7">已回复的咨询（5）</a>
                                    <a href="#" class="">优惠券：<span class="cl9b9b9b">（7）张</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_r_pf">
                    <p class="mt10 text_c"><img src="../css/images/pingfen.gif" /></p>
                    <p class="mt5"><a href="#">去评论</a> <a href="#">获积分</a></p></div>
                	
                </div>
            </div>
            <div class="hb_r_pubtit">
            	<div class="hb_pubtit_l"></div>
            	<div class="hb_pubtit_m">最新上架手机</div>
            	<div class="hb_pubtit_r"></div>
              <div class="hb_r_more">更多 >></div>
            </div>
            <!--zuixinshagnjia begin-->
          <div class="hb_r_list">
            	<div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
            
            </div>
            <!--zuixinshagnjia 结束-->
            <!-- zuixindingdan begin-->
          <div class="hb_r_tab">
            	<ul id="sparaTab">
                	<li class="active" onclick="snTabs(this,0,'active','')">最新订单</li>
                	<li onclick="snTabs(this,1,'active','')">带评价商品</li>
                </ul>
              <div class="hb_r_more">更多 >></div>
            </div>
            <div id="sparaTab_Content0" style="display: block;">
            <div class="hb_r_table">
            <table width="838" border="0" cellspacing="0" cellpadding="0" class="order_tabtit text_c">
                    	<thead>
                        	<tr>
                                <th width="242" class="brfff">订单信息</th>
                                <th width="82" class="brfff">单价（元）</th>
                                <th width="62" class="brfff">数量</th>
                                <th width="62" class="brfff">收货人</th>
                                <th width="78" class="brfff">实付款（元）</th>
                                <th width="102" class="brfff">
                                	<select>
                                    	<option>全部时间</option>
                                        <option>一年</option>
                                        <option>三个月</option>
                                        <option>一个月</option>
                                        <option>近三天</option>
                                        <option>近一天</option>
                                    </select>
                                </th>
                                <th width="102" class="brfff">
                                	<select>
                                    	<option>全部状态</option>
                                        <option>待付款</option>
                                        <option>已付款</option>
                                        <option>已发货</option>
                                        <option>已收货</option>
                                        <option>退单</option>
                                        <option>撤单</option>
                                        <option>坏单</option>
                                    </select>
                                </th>
                                <th width="106">操作</th>
                            </tr>
                            <tr>
                            <td align="left" colspan="8" height="32"><div class="ml15">订单编号：<span><a href="#" class="c005bab">123123123123123123</a></span><span class="ml150"><a href="#" class="c005bab">中国移动</a></span> <img src="../images/pc_fx.gif" /></div></td>
                            </tr>
                            <tr>
                            	<td align="left"><div class="left ml5 mt5"><a href="#"><img src="../images/pc_sm.gif" height="52" width="52"></a></div>
                                <div class="right ml5 mt5" style="width:160px;">
                                	<p><a href="#">MIUI/小米 小米手机3</a></p>
                                    <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                                </div></td>
                              <td>￥2118.00</td>
                              <td>1</td>
                              <td><a href="#">退单</a>|<a href="#">投诉</a></td>
                              <td>￥2118.00</td>
                                <td><div class="cl808080">2014-01-22 <br />
                                15:26:23</div></td>
                                <td><div class="cl808080">已收货</div> <div class=""><a href="#">订单详情</a></div> <div class="cl808080">集中配送</div></td>
                                <td><a href="#">申告</a>| <a href="#">删除</a><Br /><a href="#">评价</a>| <a href="#">退货</a><br />查看物流<div class="mb10"><a href="#"><img src="../images/pc-buy.gif" /></a></div></td>
                            </tr>
                            <tr>
                            	<td align="left"><div class="left ml5 mt5"><a href="#"><img src="../images/pc_sm.gif" height="52" width="52"></a></div>
                                <div class="right ml5 mt5" style="width:160px;">
                                	<p><a href="#">MIUI/小米 小米手机3</a></p>
                                    <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                                </div></td>
                              <td>￥2118.00</td>
                              <td>1</td>
                              <td><a href="#">退单</a>|<a href="#">投诉</a></td>
                              <td rowspan="2">￥2118.00</td>
                                <td rowspan="2"><div class="cl808080">2014-01-22 <br />
                                15:26:23</div></td>
                                <td rowspan="2"><div class="cl808080">坏单</div> <div class=""><a href="#">订单详情</a></div> <div class="cl808080">集中配送</div></td>
                                <td rowspan="2"><a href="#">申告</a>| <a href="#">删除</a><Br /><a href="#">评价</a>| <a href="#">退货</a><br />查看物流<br /><a href="#"><img src="../images/pc-buy.gif" /></a></td>
                            </tr>
                            <tr>
                            	<td align="left"><div class="left ml5 mt5"><a href="#"><img src="../images/pc_sm.gif" height="52" width="52"></a></div>
                                <div class="right ml5 mt5" style="width:160px;">
                                	<p><a href="#">MIUI/小米 小米手机3</a></p>
                                    <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                                </div></td>
                              <td>￥2118.00</td>
                              <td>1</td>
                              <td><a href="#">退单</a>|<a href="#">投诉</a></td>
                            </tr>
                        </thead>
                        </table>
            </div>
            </div>
            <div id="sparaTab_Content1" style="display: none;">
            <div class="hb_r_table">
            <table width="838" border="0" cellspacing="0" cellpadding="0" class="order_tabtit text_c">
                    	<thead>
                        	<tr>
                                <th width="438" class="brfff">商品名称</th>
                                <th width="200" class="brfff">购买时间</th>
                                <th width="200" class="brfff">操作</th>
                            </tr>
                            <tr>
                            	<td align="left"><div class="left mt10 mb10" style="margin-left:60px;"><a href="#"><img src="../images/pc_t1.gif" width="30" height="57"></a></div>
                                <div class="left ml15 mt20 " style="width:315px;">
                                	<p><a href="#">MIUI/小米 小米手机3</a></p>
                                    <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                                </div></td>
                                <td><div class="cl808080">2014-01-22 15:26:23</div></td>
                                <td><p><a href="#"><img src="../images/pc_wypj.gif" /></a></p><p class="mt5"><a href="#">查看所有32555个评价</a></p></td>
                            </tr>
                            <tr>
                            	<td align="left"><div class="left mt10 mb10" style="margin-left:60px;"><a href="#"><img src="../images/pc_t1.gif" width="30" height="57"></a></div>
                                <div class="left ml15 mt20 " style="width:315px;">
                                	<p><a href="#">MIUI/小米 小米手机3</a></p>
                                    <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                                </div></td>
                                <td><div class="cl808080">2014-01-22 15:26:23</div></td>
                                <td><p><a href="#"><img src="../images/pc_wypj.gif" /></a></p><p class="mt5"><a href="#">查看所有32555个评价</a></p></td>
                            </tr>
                            <tr>
                            	<td align="left"><div class="left mt10 mb10" style="margin-left:60px;"><a href="#"><img src="../images/pc_t1.gif" width="30" height="57"></a></div>
                                <div class="left ml15 mt20 " style="width:315px;">
                                	<p><a href="#">MIUI/小米 小米手机3</a></p>
                                    <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                                </div></td>
                                <td><div class="cl808080">2014-01-22 15:26:23</div></td>
                                <td><p><a href="#"><img src="../images/pc_wypj.gif" /></a></p><p class="mt5"><a href="#">查看所有32555个评价</a></p></td>
                            </tr>
                            
                            
                        </thead>
                        </table>
            </div>
            </div>
            <!-- zuixindingdan end-->
            <!-- weinintuijian begin-->
            <div class="hb_wntj">
            	<div class="hb_wntj_tit">
                <div class="left">为您推荐</div>
                <div class="hb_paraTab">
                <ul class="clearfix" id="paraTab">
                <li class="active" onclick="nTabs(this,0,'active','')"><span>1</span></li>
                <li onclick="nTabs(this,1,'active','')"><span>2</span></li>
                <li onclick="nTabs(this,2,'active','')"><span>3</span></li>
            </ul></div>
            </div>
            <div class="clear"></div>
            <div id="paraTab_Content0">
            	<div class="hb_r_list">
            	<div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
            
            </div>
            </div>
            <div id="paraTab_Content1" style="display:none">
            	<div class="hb_r_list">
            	<div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
            
            </div>
            </div>
            <div id="paraTab_Content2" style="display:none">
            	<div class="hb_r_list">
            	<div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
                <div class="hb_r_cont">
                	<div class=" text_c"><img src="../css/images/pc_1.gif" /></div>
                    <div class="mt20" >三星 Galaxy Note II5.5 1.6GHz四核处理器</div>
                    <div class="mt10"><span>￥2888.00</span> <a href="#"><img src="../images/pc_jrgwc.gif" /></a></div>
                </div>
            
            </div>
            </div>
            
            </div>
            <!-- weinintuijian end-->
        </div>
        <!--右侧 结束-->
    </div>

    <div th:replace="web/include/helpcent2"></div>
    <!--pay_helpcent 开始-->

    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->
    <div th:replace="web/include/foot"></div>
    
</div>
</body>
</html>
