<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/ddjs.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<div class="topbox">
	<div class="box">
    	 <div class="top_l">
        	<p class="left">
                安徽移动终端电子交易平台， 
                <span class="c0085d0">Sylvia_fs</span>
                欢迎您！ 
                <a href="#">[退出]</a>
            </p>
            <div class="top_xx left ml10">
            	消息(<strong class="red">0</strong>)
                <ul class="top_ycc1">
                	<li>降价提醒(<strong class="red">0</strong>)</li>
                    <li>新品上架(<strong class="red">0</strong>)</li>
                    <li>服务提醒(<strong class="red">0</strong>)</li>
                    <li>物流提醒(<strong class="red">0</strong>)</li>
                </ul>
            </div>
        </div>
        <div class="top_r">
            <p class="right">
                <a href="#">购物车</a>
                <a href="#">联系客服</a>
                <a href="#">收藏本站</a>
            </p>
            <div class="top_hb right">
            	我的和包
                <ul class="top_ycc">
                	<li>已买到的商品</li>
                    <li>我的优惠券</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--top 结束-->

<div class="content">
	<!--head 开始-->
    <div class="overflow mb20">
    	<p class="left mt20 ml5"><a href="#"><img src="../images/logo.png" width="270" height="60" alt="中国移动" /></a></p>
        <p class="right mr55 mt20"><img src="../images/lc2.gif" width="390" height="60" alt="" /></p>
    </div>
    <!--head 结束-->
    <!--收货地址开始-->
        <div class="pay_ddjs">
        	<div class="pay_ddjs_tit"><h2>填写并核对订单信息</h2></div>
            <div class="pay_ddjs_shrxx">
            	<div class="pay_ddjs_step1">
            	<div class="step-title">
                	<strong class=" font14">收货人信息</strong>
                	<span class="step-action"><a  id="xgdd" href="#none">[修改]</a></span>
                	<span class="step-action" style="display:none;" id="bcshrxx"><a href="#none">保存收货人信息</a></span>
                </div>
                <div class="step-content">
                
                	<div class="sbox-wrap">
                    	<p>张伟  &nbsp; 15801111111 &nbsp;  &nbsp; 
		<br>安徽 合肥市 蜀山区 五里墩街道 合作化南路166号</p>
                    </div>
                
                </div>
            	<div class="sbox" style="display:none;">
                	<div class="ddjs_address item-selected">
                    	<input type="radio" name="address" checked="checked"  />
                        <label><b>张伟</b>&nbsp; 安徽 合肥市 蜀山区 五里墩街道 合作化南路166号 &nbsp; 15801111111 &nbsp;</label>
                    	<span class="item-action hide" style="display: none;">				
				   			<a href="###">编辑</a> &nbsp; 
				   					  <a href="###">删除</a>&nbsp;						
				   				 </span>	
                    </div>
                	<div class="ddjs_address">
                    	<input type="radio" name="address"  />
                    	<label><b>张伟</b>&nbsp; 安徽 合肥市 蜀山区 五里墩街道 合作化南路166号 &nbsp; 15801111111 &nbsp;</label>
                    	<span class="item-action hide" style="display: none;">				
				   			<a href="###">编辑</a> &nbsp; 
				   					  <a href="###">删除</a>&nbsp;						
				   				 </span>	
                    </div>
                    <div class="ddjs_address1">
                    	<label id="newddd"><input type="radio"  name="address" />使用新地址</label>
                    </div>
                    <div class="pay_newadd" style="display:none;">
                    	<div class="newadd_list">
                    		<span class="label"><em>*</em>收货人：</span>
                            <div class="field">
                            	<input type="text"  maxlength="20"  class="textbox">
                            </div>
                    	</div>
                        <div class="newadd_list select-address">
                    		<span class="label"><em>*</em>所在地址：</span>
                            <div class="field">
                            	<span><select><option value="">请选择：</option><option value="1">北京*</option><option value="2">上海*</option></select></span>
                                <span><select><option value="">请选择：</option></select></span>
                                <span><select><option value="">请选择：</option></select></span>
                                <span class="form-tip">&nbsp;&nbsp;标“*”的为支持货到付款的地区,<a id="codHelpUrl" href="#" target="_blank" style="color:#005EA7">查看货到付款地区</a></span>
                            	</div>
                            </div>
                            <div class="newadd_list full-address">
                    		<span class="label"><em>*</em>详细地址：</span>
                            <div class="field">
                            	<input type="text"  maxlength="50"  class="textbox">
                            </div>
                    	</div>
                        <div class="newadd_list">
                    		<span class="label"><em>*</em>手机号码：</span>
                            <div class="field">
                            	<div class="add_phone">
                            	<input type="text"  maxlength="20"  class="textbox"><em>或</em><span style="color:#666;">固定电话：</span><input type="text"  maxlength="20"  class="textbox">
                                </div>
                            </div>
                    	</div>
                        <div class="newadd_list">
                    		<span class="label">邮箱：</span>
                            <div class="field">
                            	<input type="text"  maxlength="20"  class="textbox">
                                <span class="form-tip">用来接收订单提醒邮件，便于您及时了解订单状态</span>
                            </div>
                    	</div>
                        
            			<div class="form-btn group">
                    <a class="btn-submit" href="ddjs.html"><span>保存收货人信息</span></a>
                </div>
                    	</div>
                    </div>
                    
                
                </div>
                <div class="clear"></div>
                            </div>
            	<div class="pay_ddjs_step2">
                	<div class="step-title"><a class="return-edit" href="#">返回修改购物车</a><strong class="font14">商品清单</strong></div>
                	<div class="pay_ddxxtab">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="jhd_tabtit">
                    	<thead>
                        	<tr>
                                <th width="349" class="brfff">商品信息</th>
                                <th width="145" class="brfff">单价（元）</th>
                                <th width="120" class="brfff">数量</th>
                                <th width="188" class="brfff">优惠方式（元）</th>
                                <th width="170">小计（元）</th>
                            </tr>
                            <tr class="jgx" height="42">
                            	<td colspan="5"><span class="ml10">旗舰店：中国移动XXXXXXXX</span> <a href="#"><img src="../images/ww.gif"></a></td>
                            </tr>
                            <tr class="fbfcff jgx">
                            	<td height="80">
                                <div class="left ml20"><a href="#"><img width="52" height="52" src="../images/pic1.gif"></a></div>
                                <div class="right ml5" style="width:250px;">
                                	<p><a href="#">浙江 合约购机 APPLE/苹果 iphone5s 移动4G</a></p>
                                    <p>品牌：iphone 型号：5s 颜色：土豪金</p>
                                </div>
                                </td>
                                <td align="center">5488.00</td>
                                <td align="center">1</td>
                                <td align="center">无优惠</td>
                                <td align="center" class="clf55a08">5488.00</td>
                                </tr>
                                <tr height="42" class="jsfh">
                                <td style="border-right:1px solid #fff;border-bottom:1px solid #fff;" colspan="2"><span class="ml20">给卖家留言</span> <textarea onfocus="if(this.value == this.defaultValue) this.value = ''" onblur="if(this.value == '') this.value = this.defaultValue" rows="3"  value="选填：对本次交易的补充说明" class="srk1"></textarea></td>
                                <td style="border-right:1px solid #fff;border-bottom:1px solid #fff;" colspan="3"><span class="ml25">配送方式：</span><span class="ml25">集中配送</span><span style="margin-right:62px;" class="right clf55a08">0.00</span></td>
                                </tr>
                                <tr height="55" class="jsfh jgx">
                                	<td align="right" colspan="5">店铺合计（含运费）:<span class="font14 mr5">¥</span><span class="clf55a08 fontb font18 mr20">5488.00</span></td>
                                </tr>
                                
                            <tr class="jgx" height="42">
                            	<td colspan="5"><span class="ml10">旗舰店：中国移动XXXXXXXX</span> <a href="#"><img src="../images/ww.gif"></a></td>
                            </tr>
                                <tr class="fbfcff jgx">
                            	<td height="80">
                                <div class="left ml20"><a href="#"><img width="52" height="52" src="../images/pic1.gif"></a></div>
                                <div class="right ml5" style="width:250px;">
                                	<p><a href="#">浙江 合约购机 APPLE/苹果 iphone5s 移动4G</a></p>
                                    <p>品牌：iphone 型号：5s 颜色：土豪金</p>
                                </div>
                                </td>
                                <td align="center">5488.00</td>
                                <td align="center">3</td>
                                <td align="center">
                                    <select class="select">
                                    	<option value="1">省4050：年末让利</option>
                                    	<option value="1">省4050：年末让利</option>
                                    	<option value="1">省4050：年末让利</option>
                                    	<option value="1">省4050：年末让利</option>
                                    </select>
                                </td>
                                <td align="center" class="clf55a08">5488.00</td>
                                </tr>
                                <tr class="fbfcff jgx">
                            	<td height="80">
                                <div class="left ml20"><a href="#"><img width="52" height="52" src="../images/pic1.gif"></a></div>
                                <div class="right ml5" style="width:250px;">
                                	<p><a href="#">浙江 合约购机 APPLE/苹果 iphone5s 移动4G</a></p>
                                    <p>品牌：iphone 型号：5s 颜色：土豪金</p>
                                </div>
                                </td>
                                <td align="center">5488.00</td>
                                <td align="center">1</td>
                                <td align="center"><select class="select">
                                    	<option value="1">省4050：年末让利</option>
                                    	<option value="1">省4050：年末让利</option>
                                    	<option value="1">省4050：年末让利</option>
                                    	<option value="1">省4050：年末让利</option>
                                    </select></td>
                                <td align="center" class="clf55a08">5488.00</td>
                                </tr>
                                <tr height="42" class="jsfh">
                                <td style="border-right:1px solid #fff;border-bottom:1px solid #fff;" colspan="2"><span class="ml20">给卖家留言</span> <textarea onfocus="if(this.value == this.defaultValue) this.value = ''" onblur="if(this.value == '') this.value = this.defaultValue" rows="3"  value="选填：对本次交易的补充说明" class="srk1"></textarea></td>
                                <td style="border-right:1px solid #fff;border-bottom:1px solid #fff;" colspan="3"><span class="ml25">配送方式：</span><span class="ml25">集中配送</span><span style="margin-right:62px;" class="right clf55a08">0.00</span></td>
                                </tr>
                                <tr height="55" class="jsfh jgx">
                                	<td align="right" colspan="5">店铺合计（含运费）:<span class="font14 mr5">¥</span><span class="clf55a08 fontb font18 mr20">5488.00</span></td>
                                </tr>
                            </thead>
                            </table>
        </div>
                </div>
            <div class="clear"></div>
                <div class="pay_order">
        	<div class="pay_order_nex">
                <p align="right" class="font12 cl333333">7件商品，总商品金额：<span class="font16 fontb">￥</span><span class="font20 clff7900 fontb mr10 yqmje">15000.00</span></p>   
                <p align="right"><span class="" style="margin-right:47px;">返现：</span><span class="font16 fontb">￥</span><span class="font20 clff7900 fontb">0.00</span></p>  
                <p align="right"><span class="" style="margin-right:47px;">运费：</span><span class="font16 fontb">￥</span><span class="font20 clff7900 fontb">0.00</span></p>
                <p align="right"><span class="fontb">应付金额：</span><span class="font16 fontb">￥</span><span class="font20 clff7900 fontb mr10 yqmje">15000.00</span></p>
            </div>
        	</div>
            <div class="clear"></div>
            <div class="pay_yhq mt10 ml25"><img src="../images/jia.gif" /> <a href="#">使用优惠券抵消部分总额</a></div>
            <div class="pay_yhq mt15 ml25"><img src="../images/jian.gif" /> <a href="#">使用积分支付</a></div>
            <div class="pay_jfzf">
        	<div class="jfzf_wl"><b>本次使用</b> <input type="text" /> <span>积分支付</span> <a href="#"><img src="../images/sy.gif" /></a></div>
            <p><span class="left">您有3000积分，本次可用<span class="clff7900 fontb">3000</span>分</span>
            <span class="right fontnor" style="color:#696e72; margin-right:100px;">【了解如何获得积分】</span></p>
            
            <div class="clear"></div>
            </div>
            <div class="pay_zejs mt15">
                <p align="right" ><span><span class="font16 fontb">应付总额：</span><span class="font16 fontb">￥</span><span class="font16 fontb clff4400">15000.00</span><span class="font16 fontb">元</span></span><a href="pay.html" class=""><img class="mr20 ml10" src="../images/tjdd_but.gif" /></a></p>
            </div>
        </div>    
    <!--订单成功结束-->
		
        <div class="clear"></div>
        
    <!--pay_helpcent 开始-->
    <div class="pay_helpcent">
    	<ul>
        	<li>
            	<p  class="pay_hejpcent_tit">新手指南</p>
                <p><a href="#">买家流程</a></p>
				<p><a href="#">卖家流程</a></p>
            </li>
            <li>
            	<p  class="pay_hejpcent_tit">支付方式</p>
                <p><a href="#">什么是手机支付</a></p>
				<p><a href="#">手机支付流程</a></p>
            </li>
            <li>
            	<p  class="pay_hejpcent_tit">物流配送</p>
                <p><a href="#">EMS</a></p>
				<p><a href="#">配送范围</a></p>
            </li>

            <li>
            	<p  class="pay_hejpcent_tit">售后服务</p>
                <p><a href="#">退换货原则</a></p>
				<p><a href="#">退换货流程</a></p>
            </li>
            <li>
            	<p  class="pay_hejpcent_tit">交易纠纷</p>
                <p><a href="#">关于申告</a></p>
				<p><a href="#">投诉与建议</a></p>
            </li>
            <li class="pay_helpcent_zh">
            	<p  class="pay_hejpcent_tit">商城手机客户端</p>
                <p>一扫微信二维码，购机优惠抢先瞧</p>
                <p class="overflow mt10">
                	<span class="left"><img src="../images/head_ewm.jpg" width="90" height="90" alt="" /></span>
                    <span class="left ml15 mt50">
                    	一掌"潮机"乾坤<br />
                        瞬查"先机"动向
                    </span>
                </p>
            </li>
        </ul>
    </div>
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <div class="footbox">
        <a href="help.html">法律声明</a>
        <span class="foot_bah">皖ICP备05007322号</span>
        |
        中国移动版权所有
    </div>
    <!--foot 结束-->
</div>
<div id="cover"></div>
<!--tanchu-->
<div class="wsh_popul" id="wsh_pop">
	<div class="wsh_pop1_tit">
    	<span class="left">使用新地址</span>
        <a onclick="hidetelts('cover','wsh_pop');" class="right mt10" href="###"><img width="14" height="14" alt="关闭" src="../images/close.gif"></a>
    </div>
    <div class="wsh_popul_nr_l">
    	<div class="wsh_pop_dh">
        	<div class="wsh_cont">
                	<p class="wsh_cont_l">选择所在地：</p>
                    <div class="wsh_cont_r"><em>*</em>
                    	<select class="whs_sel1" name="">
                    	  <option>北京</option>
               			</select>
                        <select class="whs_sel1" name="">
                    	  <option>北京</option>
               			</select>
                        <select class="whs_sel1" name="">
                    	  <option>北京</option>
               			</select>
                        
                    </div>
                </div>
                <div class="wsh_cont">
                	<p class="wsh_cont_l">邮政编码：</p>
                    <div class="wsh_cont_r"><em>*</em>
                    	<input type="text" class="whs_inp" name="" style="width:60px;"> <span style="color:#ff4401">邮政编码填写有误，请输入6位邮政编码</span></div>
                </div>
                <div class="wsh_cont">
                	<p class="wsh_cont_l">街道地址：</p>
                    <div class="wsh_cont_r"><em style="vertical-align:top;">*</em>
                    	<textarea cols="50" rows="2"></textarea>
                        <p class="ml10">请填写街道地址，最少5个字，最多不能超过120个字，不能全部为数字或字母</p>
                    </div>
                </div>
                <div class="wsh_cont">
                	<p class="wsh_cont_l">收货人姓名：</p>
                    <div class="wsh_cont_r"><em>*</em>
                    	<input type="text" value="" class="whs_inp" name="" style="width:190px;"> <span>请正确填写姓名，最少不能少于2个字，最多不能超过25个字，且其中不能含有null字样</span>
                        
                    </div>
                </div>
                <div class="wsh_cont">
                	<p class="wsh_cont_l">电话：</p>
                    <div class="wsh_cont_r"><em>　</em>
                    	<input type="text" value="" class="whs_inp" name="" style="width:47px;"> - 
                    	<input type="text" value="" class="whs_inp" name="" style="width:67px;">
                    	- <input type="text" value="" class="whs_inp" name="" style="width:52px;">
                        <span>手机和电话请至少填写一个,电话的格式：区号-电话号码-分机</span>
                    </div>
                </div>
                <div class="wsh_cont">
                	<p class="wsh_cont_l">手机：</p>
                    <div class="wsh_cont_r"><em>*</em>
                    	<input type="text" value="" class="whs_inp" name="" style="width:122px;">
                    </div>
                </div>
                <div class="wsh_cont">
                	<p class="wsh_cont_l">设置默认：</p>
                    <div class="wsh_cont_r">
                    	<input type="checkbox" style="vertical-align:middle; margin-left:10px;"> 设置为默认地址 设置后系统将在购买时自动选中该收货地址

                    </div>
                </div>
        </div>
        <p class="mt30 text_c">
            <a onclick="hidetelts('cover','wsh_pop');" href="###"><img width="83" height="27" alt="完成" src="../images/queding.gif"></a>
            <a class="ml10" onclick="hidetelts('cover','wsh_pop');" href="###"><img width="83" height="27" alt="完成" src="../images/quxiao.gif"></a>
        </p>
    </div>
</div>
<!--tanchu-->
</body>
</html>
