<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<div class="topbox">
	<div class="box clearfix">
    	 <div class="top_l">
        	安徽移动终端电子交易平台， 
            <span class="c0085d0">Sylvia_fs</span>
            欢迎您！ 
            <a href="#">[退出]</a>
            <div class="top_xx_pay">
            	消息(3)
                <ul class="top_ycc1">
                	<li>降价提醒</li>
                    <li>新品上架</li>
                    <li>服务提醒</li>
                    <li>物流提醒</li>
                </ul>
            </div>
        </div>
        <div class="top_r">
        	<div class="top_hb">
            	我的和包
                <ul class="top_ycc">
                	<li>已买到的商品</li>
                    <li>我的优惠券</li>
                </ul>
            </div>
            <a href="#">购物车</a>
            <a href="#">联系客服</a>
            <a href="#">收藏本站</a>
        </div>
    </div>
</div>
<!--top 结束-->

<div class="content">
	<!--head 开始-->
    <div class="overflow mb20">
    	<p class="left mt20 ml5"><a href="#"><img src="../images/logo_p.jpg" width="386" height="60" alt="中国移动" /></a></p>
        <p class="right mr55 mt20"><img src="../images/lc1.gif" width="390" height="60" alt="" /></p>
    </div>
    <!--head 结束-->
    <!--订单成功开始-->
        <div class="pay_suc">
        	<div class="pay_suc_ts">
            <p class=""><span class="fontb font14 clff7900 mr30">订单提交成功，请您尽快付款！</span><span class="cl2e3629 mr30">订单号：1020260248</span>    应付金额：<span class="fontb clff7900">4977.00</span> 元</p>
            <p class="font12 cl8c9288">请您在提交订单后<span class="clff7900">24</span>小时内完成支付，否则订单会自动取消。</p>
            </div>
            <div class="pay_ddxq">订单详情</div>
        </div>    
           
    <!--订单成功结束-->
    <div class="pay_kjzf">
    	<div class="pay_kjzf_tit">网银支付<span>付款时需跳转至银行支付</span></div>
        <div class="pay_kjzf_cont">
            <div class="left"><input type="radio" checked="checked" id="male" />
            <label for="male"><img src="../images/sjzf.gif" /></label></div>
            <div class="pay_kjzf_cont_ri"><a href="#">查看支付限额</a></div>
            <div class="right">支付金额(元)：<span>4188.00</span></div>
        </div>
    	<div class="pay_next"><a href="###" onclick="showtelts('cover','wsh_pop');"><img src="../images/next.gif"  /></a></div>
    </div>
    <div class="pay_noti">
    	<p>完成支付后，您可以：<a href="#">查看订单详情</a> <span>|</span> <a href="#">支付调查</a></p>
        <p><a href="#">更多相关帮助</a></p>
    </div>
    <!--pay_helpcent 开始-->
    <div class="pay_helpcent">
    	<ul>
        	<li>
            	<p class="pay_hejpcent_tit">新手指南</p>
                <p><a href="#">买家必读</a></p>
				<p><a href="#">购物说明</a></p>
                <p><a href="#">购买流程</a></p>
                <p><a href="#">一分钟了解商城</a></p>
            </li>
            <li>
            	<p class="pay_hejpcent_tit">关于支付</p>
                <p><a href="#">货到付款</a></p>
				<p><a href="#">在线支付</a></p>
                <p><a href="#">支付常见问题</a></p>
                <p><a href="#">商城优惠券</a></p>
            </li>
            <li>
            	<p class="pay_hejpcent_tit">关于配送</p>
                <p><a href="#">EMS</a></p>
				<p><a href="#">免费配送</a></p>
            </li>
            <li>
            	<p class="pay_hejpcent_tit">售后服务</p>
                <p><a href="#">退换货原则</a></p>
				<p><a href="#">退换货流程</a></p>
            </li>
            <li>
            	<p class="pay_hejpcent_tit">帮助中心</p>
                <p><a href="#">热点问题</a></p>
				<p><a href="#">投诉与建议</a></p>
            </li>
            <li class="pay_helpcent_zh">
            	<p class="hejpcent_tit">商城官方微信</p>
                <p>一扫微信二维码，购机优惠抢先瞧</p>
                <p class="overflow mt10">
                	<span class="left"><img src="../images/head_ewm.jpg" width="90" height="90" alt="" /></span>
                    <span class="left ml15 mt50">
                    	一掌"潮机"乾坤<br />
                        瞬查"先机"动向
                    </span>
                </p>
            </li>
        </ul>
    </div>
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <div class="footbox">
    	<p class="left ml5">
        	<a href="#">法律声明</a>
            |
            <a href="#">联系我们</a>
            |
            <a href="#">诚聘英才</a>
            |
            <a href="#">帮助信息</a>
            |
            <a href="#">网站地图</a>
            |
            <a href="#">友情链接</a>
        </p>
        <p class="right mr5">
        	<span class="foot_bah">皖ICP备05007322号</span>
            |
            中国移动版权所有
        </p>
    </div>
    <!--foot 结束-->
</div>
<div id="cover"></div>
<!--tanchu-->
<div class="wsh_pop1" id="wsh_pop">
	<div class="wsh_pop1_tit">
    	<span class="left">提示</span>
        <a onclick="hidetelts('cover','wsh_pop');" class="right mt10" href="###"><img width="14" height="14" alt="关闭" src="../images/close.gif"></a>
    </div>
    <div class="wsh_pop1_nr">
    	<div class="wsh_pop_dh">
        	<p>请您在新打开的网上银行页面进行支付,支付完成后请不要关闭窗口！</p>
        </div>
        <p class="mt30 text_c">
            <a onclick="hidetelts('cover','wsh_pop');" href="###"><img width="83" height="27" alt="完成" src="../images/wczf.gif"></a>
            <a class="ml10" onclick="hidetelts('cover','wsh_pop');" href="###"><img width="83" height="27" alt="完成" src="../images/wwc.gif"></a>
        </p>
    </div>
</div>
<!--tanchu-->
</body>
</html>
