<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cms.dao.CategoryDao">

	<select id="get" resultType="com.bootdo.cms.domain.CategoryDO">
		select `id`,`description`,`image`,`keywords`,`module`,`name`,`parent_id`,`grade`,`isShow`,`orderNo`,`site_id`,`url`,`parent_ids` from cms_category where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cms.domain.CategoryDO">
		select `id`,`description`,`image`,`keywords`,`module`,`name`,`parent_id`,`grade`,`isShow`,`orderNo`,`site_id`,`url`,`parent_ids` from cms_category
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="image != null and image != ''"> and image = #{image} </if>
		  		  <if test="keywords != null and keywords != ''"> and keywords = #{keywords} </if>
		  		  <if test="module != null and module != ''"> and module = #{module} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  		  <if test="isshow != null and isshow != ''"> and isShow = #{isshow} </if>
		  		  <if test="orderno != null and orderno != ''"> and orderNo = #{orderno} </if>
		  		  <if test="siteId != null and siteId != ''"> and site_id = #{siteId} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="parentIds != null and parentIds != ''"> and parent_ids = #{parentIds} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cms_category
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="image != null and image != ''"> and image = #{image} </if>
		  		  <if test="keywords != null and keywords != ''"> and keywords = #{keywords} </if>
		  		  <if test="module != null and module != ''"> and module = #{module} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  		  <if test="isshow != null and isshow != ''"> and isShow = #{isshow} </if>
		  		  <if test="orderno != null and orderno != ''"> and orderNo = #{orderno} </if>
		  		  <if test="siteId != null and siteId != ''"> and site_id = #{siteId} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="parentIds != null and parentIds != ''"> and parent_ids = #{parentIds} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cms.domain.CategoryDO" useGeneratedKeys="true" keyProperty="id">
		insert into cms_category
		(
			`description`, 
			`image`, 
			`keywords`, 
			`module`, 
			`name`, 
			`parent_id`, 
			`grade`, 
			`isShow`, 
			`orderNo`, 
			`site_id`, 
			`url`, 
			`parent_ids`
		)
		values
		(
			#{description}, 
			#{image}, 
			#{keywords}, 
			#{module}, 
			#{name}, 
			#{parentId}, 
			#{grade}, 
			#{isshow}, 
			#{orderno}, 
			#{siteId}, 
			#{url}, 
			#{parentIds}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.cms.domain.CategoryDO">
		update cms_category 
		<set>
			<if test="description != null">`description` = #{description}, </if>
			<if test="image != null">`image` = #{image}, </if>
			<if test="keywords != null">`keywords` = #{keywords}, </if>
			<if test="module != null">`module` = #{module}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="grade != null">`grade` = #{grade}, </if>
			<if test="isshow != null">`isShow` = #{isshow}, </if>
			<if test="orderno != null">`orderNo` = #{orderno}, </if>
			<if test="siteId != null">`site_id` = #{siteId}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="parentIds != null">`parent_ids` = #{parentIds}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from cms_category where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cms_category where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>