<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <title>j5shop商城</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="/street/css/public.css" type="text/css" rel="stylesheet"/>
    <link href="/street/css/my_order.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/street/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/street/js/slide.js"></script>
</head>
<script>
    $(function(){
        $('.nav ul li').hover(function(){
            $(this).children(".details").show();
        },function(){
            $(this).children(".details").hide();
        });
        $('#my').hover(function(){
            $(this).find("div").show();
        },function(){
            $(this).find("div").hide();
        });
    });
</script>
<body>
<div th:replace="street/layout/mallHeader"></div>

<!-----------------内容------------------>
<div class="wt1080 middle">
    <div class="fl">
        <div style="padding: 0 24px;"><h1>用户名称</h1></div>
        <ul>
            <li><a onclick="bna1('me',this)">账户安全</a></li>
            <li><a th:href="@{'/person/street/order'}">我的订单</a></li>
            <li><a onclick="bna1('coupon',this)" href="#">我的优惠卷</a></li>
            <li><a onclick="bna1('jfgoods',this)" href="#">我的积分商品</a></li>
            <li><a onclick="bna1('collect',this)" href="#">我收藏的商品</a></li>
            <li><a onclick="bna1('address',this)" href="#">管理收货地址</a></li>
        </ul>
    </div>
    <div class="fr">
        <div class="c_r_t">
            <ul>
                <li class="current"><a onclick="bna('0',this)" href="#">所有订单</a></li>
                <li><a onclick="bna('9',this)" href="#">待付款</a><span></span></li>
                <li><a onclick="bna('1',this)" href="#">待发货</a><span></span></li>
                <li><a onclick="bna('2',this)" href="#">待收货</a><span></span></li>
                <li><a onclick="bna('3',this)" href="#">待评价</a><span></span></li>
            </ul>
            <a href="#" onclick="bna('4',this)" class="laji">订单回收站</a>
            <div class="clear"></div>
        </div>
        <!----------------公告---------------->
        <div class="gonggao">亲爱的用户您好！由于美国仓年终盘货，从1月20日早0点至22日晚24点，美国仓将暂时停止发货，相关订单将在盘货完成后陆续安排发出。如给您带来任何不便，敬请谅解！再次感谢你的支持。</div>
        <!----------------搜索---------------->

        <!---------------订单列表----------------->
        <div class="c_r_o">
            <!------------表单------------->
            <table>
                <tr>
                    <td style="width: 300px;">商品</td>
                    <td style="width: 90px;">售价（元）</td>
                    <td style="width: 90px;">数量</td>
                    <td style="width: 120px;">总计（元）</td>
                    <td style="width: 120px;">订单状态</td>
                    <td style="width: 120px;">操作</td>
                </tr>
            </table>
            <!--------------列表----------->
            <div id="listAll">

            </div>

        </div>
        <!------------------热销推荐--------------------->
    </div>
    <div class="clear"></div>
</div>

<!---------------------热销------------------>
<div class="hot wt1080">
    <div class="title">热销推荐</div>
    <div class="content">
        <ul>
            <li th:each="com:${commList}">
                <div class="pic"><a th:href="@{'/street/goodsDetail/'+${com.id}}">
                    <img th:src="@{${com.img}}"></a></div>
                <p class="c_t"><a th:href="@{'/street/goodsDetail/'+${com.id}}" th:text="${com.title}">Regen10片</a></p>
                <p class="price" th:text="'￥'+${com.prices}">￥89.00</p>
                <a href="#" class="goumai" th:onclick="'addCart('+${com.id}+')'">立即购买</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<script>
    bna(0);
    bna1('me');
    //精品、最新、全部课程
    function bna1(type,obj) {
        var _timer = null;
        $(obj).addClass('banner_hover').siblings().removeClass('banner_hover');
        $.ajax({
            url :"/person/street/ajax-my",
            data : {
                "status" : type
            },
            type : 'post',
            dataType : 'text',
            beforeSend:function(){
                clearTimeout(_timer);

            },
            success : function(result) {
                _timer = setTimeout(function(){
                    $("#listAll").html(result);
                }, 300);
            }
        });
    }
    //精品、最新、全部课程
    function bna(type,obj) {
        var _timer = null;
        $(obj).addClass('banner_hover').siblings().removeClass('banner_hover');
        $.ajax({
            url :"/person/street/ajax-order",
            data : {
                "status" : type
            },
            type : 'post',
            dataType : 'text',
            beforeSend:function(){
                clearTimeout(_timer);

            },
            success : function(result) {
                _timer = setTimeout(function(){
                    $("#listAll").html(result);
                }, 300);
            }
        });
    }
    function addCart(goodsid){
        console.log(goodsid);
        var count=1;
        $.ajax({
            type: "post",
            url: '/person/street/addCart',
            data: {
                goodsid:goodsid,
                count:count},
            dataType: "json",
            success:function(data) {
                if(data.code==0){
                    window.location.href = "/person/street/likBuy/"+goodsid;
                }else if(data.success=='login'){
                    window.location.href = "/street/login"
                }
            }
        });
    }
    function cancelOrder(orderid) {
        $.ajax({
            type: "post",
            url: '/person/street/cancelOrder',
            data: {
                orderid:orderid
            },
            dataType: "json",
            success:function(data) {
                if(data.code==0){
                    layer.msg("取消订单成功!");
                }else if(data.success=='login'){
                    window.location.href = "/street/login"
                }
            }
        });
    }
</script>
<div th:replace="street/layout/mallFooter"></div>
</body>
</html>
