<!---------------------保障------------------->
<div class="baozhang">
	<div class="wt1080">
		<ul>
			<li>
				<img src="/street/image/c1.png">
				<p>全球正品货源</p>
			</li>
			<li>
				<img src="/street/image/c2.png">
				<p>一件代发</p>
			</li>
			<li>
				<img src="/street/image/c3.png">
				<p>全球直邮</p>
			</li>
			<li>
				<img src="/street/image/c5.png">
				<p>售后无忧</p>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<!---------------底部--------------->
<div class="footer">
	<div class="wt1080" style="position: relative">
		<div class="a_footer">
			<div class="left">
				<a href="index.html"><img src="/street/image/logo.png"></a>
				<p class="lianxi">
					<a href="#"><img src="/street/image/weixin.png"></a>
					<a href="#"><img src="/street/image/weibo.png"></a>
					<a href="#"><img src="/street/image/QQ.png"></a>
					<span>028-6133 8882</span>
				</p>
			</div>
			<div class="right">
				<ul>
					<li>
						<dl>
							<dt><a href="article.html">新手指南</a></dt>
							<dd><a href="article.html">购物流程</a></dd>
							<dd><a href="article.html">支付方式</a></dd>
							<dd><a href="article.html">通关关税</a></dd>
							<dd><a href="article.html">常见问题</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="article.html">新手指南</a></dt>
							<dd><a href="article.html">购物流程</a></dd>
							<dd><a href="article.html">支付方式</a></dd>
							<dd><a href="article.html">通关关税</a></dd>
							<dd><a href="article.html">常见问题</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="article.html">新手指南</a></dt>
							<dd><a href="article.html">购物流程</a></dd>
							<dd><a href="article.html">支付方式</a></dd>
							<dd><a href="article.html">通关关税</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="article.html">新手指南</a></dt>
							<dd><a href="article.html">购物流程</a></dd>
							<dd><a href="article.html">支付方式</a></dd>
							<dd><a href="article.html">通关关税</a></dd>
							<dd><a href="article.html">常见问题</a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div class="weixin"><img src="/street/image/weixin1.png"><p>扫描二维码下载APP</p></div>
		<!------------------------>
		<p class="beian">Copyright © 2016 洋店网.版权所有.备案号：京ICP证35124521号.技术支持：西部网络</p>
	</div>
</div>