<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 地址管理
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top">
            	<p class="hb_r_top_tit">地址管理</p>
                <div class="nb_r_cont">
                	<p class="nb_r_cont_tit">新增地址</p>
                    <div class="nb_r_cont_nr">
                    	<p><em class="cf40">*</em><span class="c999">收货人：</span></p>
                        <p class="nb_r_cont_nrp"><input name="" type="text" class="wid235" /><span class="ml10 red">请您填写收货人姓名</span></p>
                    </div>
                    <div class="nb_r_cont_nr">
                    	<p><em class="cf40">*</em><span class="c999">邮政编码：</span></p>
                        <p class="nb_r_cont_nrp"><input name="" type="text" class="wid235" /><span class="ml10 red">请您填写邮政编码</span></p>
                    </div>
                    <div class="nb_r_cont_nr">
                    	<p><em class="cf40">*</em><span class="c999">所在地区：</span></p>
                    	<p class="nb_r_cont_nrp">
                        	<select name="">
                        	  <option>安徽省</option>
                       		</select>
                            <select name="">
                        	  <option>请选择</option>
                       		</select>
                            <select name="">
                        	  <option>请选择</option>
                       		</select>
                      	</p>
                    </div>
                    <div class="nb_r_cont_nr">
                    	<p><em class="cf40">*</em><span class="c999">详细地址：</span></p>
                        <p class="nb_r_cont_nrp"><input name="" type="text" class="wid575" /><span class="ml10 red">请您填写收货人详细地址</span></p>
                    </div>
                    <div class="overflow">
                    	<div class="nb_r_cont_nr left" style="width:270px;">
                            <p><em class="cf40">*</em><span class="c999">手机号码：</span></p>
                            <p class="nb_r_cont_nrp"><input name="" type="text" class="wid265" /></p>
                        </div>
                        <div class="nb_r_cont_nr left" style="width:300px;">
                            <p><span class="c999">　&nbsp;固定电话：</span></p>
                            <p class="nb_r_cont_nrp">或 <input name="" type="text" class="wid265" /></p>
                        </div>
                    </div>
                    <div class="nb_r_cont_nr">
                    	<a href="#"><img src="../images/icon_bcshdz.gif" width="133" height="32" alt="保存收货地址" /></a>
                    </div>
                    
                    <p class="nb_r_cont_tit mt40">已保存的有效地址<span>（最多保存20个有效地址）</span></p>
                    <table cellpadding="0" cellspacing="0" border="0" class="nb_table2 mt10">
                        <tr>
                            <th>收货人</th>
                            <th>联系电话</th>
                            <th>邮政编码</th>
                            <th>详细地址</th>
                            <th class="nbzhbg">操作</th>
                        </tr>
                        <tr>
                            <td>中国移动</td>
                            <td>15806636886</td>
                            <td>230000</td>
                            <td>安徽省合肥市瑶海区新站区5栋1107</td>
                            <td class="nbzhbg">
                            	<a href="#" style="color:#f40;">默认地址</a>
                                |
                                <a href="#">修改</a>
                                |
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr class="bf9f9f9">
                            <td>中国移动</td>
                            <td>15806636886</td>
                            <td>230000</td>
                            <td>安徽省合肥市瑶海区新站区5栋1107</td>
                            <td class="nbzhbg">
                            	<a href="#">设为默认地址</a>
                                |
                                <a href="#">修改</a>
                                |
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>中国移动</td>
                            <td>15806636886</td>
                            <td>230000</td>
                            <td>安徽省合肥市瑶海区新站区5栋1107</td>
                            <td class="nbzhbg">
                            	<a href="#">设为默认地址</a>
                                |
                                <a href="#">修改</a>
                                |
                                <a href="#">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
          	</div>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
