<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx nb_xhx">
    	<a href="#">我的和包</a> > 补货单详情
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <div class="nb_qp_tit mt15">
        	<ul>
            	<li>补货单信息</li>
            </ul>
            <p><a href="#"><img src="../images/icon_fhsyj.gif" width="85" height="23" alt="返回上一级" /></a></p>
        </div>
        <div class="nb_qp_nr">
        	<p class="fontb c666">订单编号：123123123123123123</p>
            <p class="fontb c666">当前订单状态：补货</p>
            <div class="nb_qp_nr_kk">
            	<p class="fontb">买家信息</p>
                <table cellpadding="0" cellspacing="0" border="0" style="width:90%;margin:0 auto;">
                	<tr>
                    	<td>买家：b2btest01</td>
                        <td>买家姓名：炎黄新星</td>
                    </tr>
                    <tr>
                    	<td>收货地址： 安徽省 合肥市 瑶海区 七里塘镇新蚌埠路铁静苑A区18幢一单元101室</td>
                        <td>邮政编码：230000</td>
                    </tr>
                    <tr>
                    	<td>收货人：sss</td>
                        <td>联系电话：13866712676</td>
                    </tr>
                </table>
            </div>
            <div class="nb_qp_nr_kk mt10">
            	<p class="fontb">卖家信息</p>
                <table cellpadding="0" cellspacing="0" border="0" style="width:90%;margin:0 auto;">
                	<tr>
                    	<td>所属店铺：中兴</td>
                        <td>联系电话：13866712676</td>
                    </tr>
                </table>
            </div>
            <div class="nb_qp_nr_kk mt10">
            	<p class="fontb">补货原因</p>
                <table cellpadding="0" cellspacing="0" border="0" style="width:90%;margin:0 auto;">
                	<tr>
                    	<td>补货原因补货原因补货原因补货原因补货原因</td>
                    </tr>
                </table>
            </div>
            
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table mt10">
                <tr>
                    <th>订单信息</th>
                    <th>单价(元)</th>
                    <th>数量</th>
                    <th>实付款(元)</th>
                    <th>电子券(元)</th>
                	<th style="border-right:1px solid #e6e6e6;">
                    	<select name="">
                    	  <option>交易状态</option>
                   		</select>
                  	</th>
                </tr>
                <tr>
                    <td width="230">
                    	<div class="left ml5 mt5"><a href="#"><img src="../images/pc_sm.gif" height="52" width="52"></a></div>
                        <div class="right ml5 mt5" style="width:160px;">
                            <p><a href="#">MIUI/小米 小米手机3</a></p>
                            <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                        </div>
                    </td>
                    <td>￥2118.00</td>
                    <td>1</td>
                    <td>￥2118.00</td>
                    <td>￥2118.00</td>
                    <td class="nbzhbg">已付款</td>
                </tr>
            </table>
            
        </div>
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
