<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="/css/public.css" rel="stylesheet" type="text/css" />
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<link href="/css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx nb_xhx">
    	<a href="#">我的和包</a> > 退货单详情
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont"> 
    	<div class="mt10 text_c mb10"><img src="/images/ddzt.gif" /></div>
        <div class="hb_nr_time">2014-01-08 17:11:52</div>
    	<div class="hb_qp_nr mt10">
        	<div class="hb_qp_corn"></div>
        	<p class="fontb c666">订单编号：123123123123123123</p>
            <p class="fontb c666">当前订单状态：退单</p>
            <p class="c555 mt20">1、如果没有收到货，或收到货后出现问题，您可以联系卖<a href="#" class="cl005ea7">中国移动</a>协商解决。</p>
			<p class="c555">2、如果卖没有履行应尽的承诺，您可以“投诉维权”</p>
            
            <p class="hb_nr_wlxx">物流信息</p>
            <p class="c555 mt10">发货方式：快递</p> 
			<p class="c555">物流公司：EMS经济快递</p> 
			<p class="c555">运单号码：5044405451601</p> 
            <p class="c555">物流跟踪：2014-01-21 19:34:00 北京邮政速递海慧寺分公司成寿寺营投部 收寄</p>
			<p class="c555 ml60">2014-01-21 21:41:37 北京邮政陆路速递邮件处理中心 离开处理中心,发往合肥市</p>
            <p class="c555 ml60">2014-01-28 16:13:55 安徽省物流集散中心 离开处理中心,发往合肥市邮政速递公司瑶海揽投部</p>
            <p class="c555 ml60">2014-01-28 19:22:00 合肥市邮政速递公司瑶海揽投部 安排投递</p>
            <p class="c555 ml60">2014-01-28 19:23:00 合肥市邮政速递公司瑶海揽投部 未妥投</p>
            <p class="ml60 cf40">2014-01-29 11:36:00 合肥市邮政速递公司瑶海揽投部 妥投</p>
            <div class="hb_ddxx_ts">以上信息由物流公司提供，如无跟踪信息或有疑问，请查询EMS经济快递官方网站或联系其公示电话</div>
            
        </div>  
        <div class="nb_qp_tit mt15">
        	<ul>
            	<li>订单信息</li>
            </ul>
        </div>
        <div class="nb_qp_nr">
            <div class="nb_qp_nr_kk">
            	<p class="fontb">买家信息</p>
                <table cellpadding="0" cellspacing="0" border="0" style="width:90%;margin:0 auto;">
                	<tr>
                    	<td>买家：b2btest01</td>
                        <td>买家姓名：炎黄新星</td>
                    </tr>
                    <tr>
                    	<td>收货地址： 安徽省 合肥市 瑶海区 七里塘镇新蚌埠路铁静苑A区18幢一单元101室</td>
                        <td>邮政编码：230000</td>
                    </tr>
                    <tr>
                    	<td>收货人：sss</td>
                        <td>联系电话：13866712676</td>
                    </tr>
                </table>
            </div>
            <div class="nb_qp_nr_kk mt10">
            	<p class="fontb">卖家信息</p>
                <table cellpadding="0" cellspacing="0" border="0" style="width:90%;margin:0 auto;">
                	<tr>
                    	<td>所属店铺：中兴</td>
                        <td>联系电话：13866712676</td>
                    </tr>
                </table>
            </div>
            <div class="nb_qp_nr_kk mt10">
            	<p class="fontb">备注</p>
                <table cellpadding="0" cellspacing="0" border="0" style="width:90%;margin:0 auto;">
                	<tr>
                    	<td>所属店铺</td>
                    </tr>
                </table>
            </div>
            
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table mt10">
                <tr>
                    <th>订单信息</th>
                    <th>单价(元)</th>
                    <th>数量</th>
                    <th>实付款(元)</th>
                    <th>电子券(元)</th>
                	<th style="border-right:1px solid #e6e6e6;">
                    	<select name="">
                    	  <option>交易状态</option>
                   		</select>
                  	</th>
                </tr>
                <tr>
                    <td width="230">
                    	<div class="left ml5 mt5"><a href="#"><img src="/images/pc_sm.gif" height="52" width="52"></a></div>
                        <div class="right ml5 mt5" style="width:160px;">
                            <p><a href="#">MIUI/小米 小米手机3</a></p>
                            <p class="cl808080">品牌：小米   型号：小米3   颜色：土豪金</p>
                        </div>
                    </td>
                    <td>￥2118.00</td>
                    <td>1</td>
                    <td>￥2118.00</td>
                    <td>￥2118.00</td>
                    <td class="nbzhbg">已付款</td>
                </tr>
            </table>
            
        </div>
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
