<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 手机IMEI号
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top">
            	<p class="hb_r_top_tit">手机IMEI号</p>
                <ul class="hb_r_top_nr">
                	<li>
                    	<span>交易提醒：</span>
                        <a href="#">待付款（0）</a>
                        <a href="#">待确认收货（0）</a>
                        <a href="#">待评价（0）</a>
                  </li>
                    <li>
                    	<span>消息提醒：</span>
                        <a href="#" class="a0085d0">降价提醒（4）</a>
                        <a href="#" class="a0085d0">新品上架（5）</a>
                        <a href="#" class="a0085d0">服务提醒（7）</a>
                        <a href="#" class="a0085d0">物流提醒（8）</a>
                    </li>
              </ul>
          </div>
            
            <div class="nb_r_tit mt15">
            	<div class="nb_r_xld">
                	<p class="nb_r_xld_l">手机IMEI号查询</p>
                    <p class="nb_r_xld_r"></p>
                    <div class="nb_r_xldyc">
                    	<p class="nb_r_xldycgb"><a href="###"><img src="../images/nb_r_xldyc_gb.gif" width="22" height="22" alt="关闭" /></a></p>
                        <ul>
                        	<li>
                            	<span>不限：</span>
                                <a href="###" class="a0085d0">全部类型</a>
                            </li>
                            <li>
                            	<span>类型：</span>
                                <a href="###" class="a0085d0">手机</a>
                                <a href="###" class="a0085d0">号卡</a>
                                <a href="###" class="a0085d0">配件</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nb_r_tit_r">
                	<input name="" type="text" class="nb_input"  onblur="if(this.value == '') this.value = this.defaultValue" onfocus="if(this.value == this.defaultValue) this.value = ''" style="width:230px;" value="订单编号、手机IMEI号、终端代码" />
                    <a href="#" class="nb_icon">查询</a>
                    <a href="#" class="nb_icon">导出</a>
                </div>
                <div class="clear"></div>
            </div>
            
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table mt10">
            	<tr>
                	<th>订单编号</th>
                    <th>手机IMEI号</th>
                    <th>终端代码</th>
                    <th>手机颜色</th>
                    <th><select>
                                    	<option>发货时间</option>
                                        <option>一年</option>
                                        <option>三个月</option>
                                        <option>一个月</option>
                                        <option>近三天</option>
                                        <option>近一天</option>
                                    </select>
                                </th>
                </tr>
                <tr>
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr>
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr>
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr>
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr>
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#" class="a0085d0">2013111111111111</a></td>
                    <td>3345</td>
                    <td>2284</td>
                    <td>土豪金</td>
                    <td>2013-12-26 17：01</td>
                </tr>
            </table>
            <div class="nb_page mt10">
            	<a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                <a href="#" class="nvadq">1</a>
                <a href="#">2</a>
                <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
            </div>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
