<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> >修改密码</div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
       	  <div class="hb_r_top" >
            	<p class="hb_r_top_tit" >修改密码</p>
       	  		  <lable class="mt30" >
				  <span>原始密码：</span>
       	      		<input name="Input" type="text" />
       	   		 </lable>
      
				 <lable>
				 	<span>新密码：</span>
				   <input name="" type="text" />
				  </lable>
				 
				 <lable>
					 <span>确认新密码：</span>
				    <input name="" type="text" />
		    	</lable>
			
				   <a href="#" class="link ml150 mb20">
					   <span class="word_left"></span>
					   <span class="word_cen">保存</span>
					   <span class="word_right"></span>
				   </a>
				    <a href="#" class="link ml10">
					   <span class="word_left"></span>
					   <span class="word_cen">重置</span>
					   <span class="word_right"></span>
				   </a>
				   
				   <a href="#" class="txt"> << 返回  </a>
				  
				  
				   
				<div class="clear"></div>
				   
                
             
          </div>
            
          <div class="hb_r_table"></div>
            </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
