<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 诉求中心
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->             <!--#include virtual="/include/gl_left.html"-->                                        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top">
           	  <p class="hb_r_top_tit">诉求中心</p>
                <ul class="hb_r_top_nr">
                	<li>
                    	<span>如果您对我们的商品或者服务有不满之处，请在此提交投诉，我们会尽快给予答复或处理！谢谢！</span>
                    </li>
                </ul>
            </div>
            
            <div class="nb_hdm_tit mt10">
            	<ul>
                	<li class="hover" id="hbwt1" >
                	  <p>诉求中心</p></li>
            	</ul>
            </div>
           
            	<table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
                    <tr>
                        <th width="24%">投诉内容</th>
                        <th width="11%">类型</th>
                        <th width="21%">涉及订单</th>
                        <th width="20%">提交时间</th>
                    	<th width="13%">
                        	<select name="">
                        	  <option>全部状态</option>
                       		</select>
                      	</th>
                        <th width="11%" class="nbzhbg">操作</th>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                        <td class="nbzhbg" colspan="6" style=" text-align:left;">订单编号：<a href="#" class="c005bab">123123123123123123</a><a href="#" class="c005bab ml20">中国移动<img src="../images/pc_fx.gif" /></a></td>
                    </tr>
                    <tr>
                        <td class="nbzhbg"><a href="#">这个手机没有送配件~！</a></td>
                        <td class="nbzhbg">产品相关</td>
                        <td class="nbzhbg"><a href="#">123123123123123123</a></td>
                        <td class="nbzhbg">2013-12-26 17：01</td>
                        <td class="nbzhbg">待处理</td>
                        <td class="nbzhbg"><a href="gl_sqzx_ck.html">查看 </a> | <a href="#" onclick="showtelts('cover','wsh_pop');">回复</a></td>
                    </tr>
                </table>
                <div class="nb_page mt10">
                    <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                    <a href="#" class="nvadq">1</a>
                    <a href="#">2</a>
                    <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
               
            </div>
            
           
            
      </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>

<div id="cover"></div>
    <!--tanchu -->
   <div class="hb_tc645" id="wsh_pop">
    	<div class="hb_tc_tit">
        	<span>管理员回复</span>
        	<a href="###" class="right mt10" onclick="hidetelts('cover','wsh_pop');"><img src="../images/tc_gb.gif" height="27" width="27" alt="关闭" /></a>
        </div>
    	<div class="hb_tc_nr1">
    	  <div class="nb_r_cont_nr">
                      <p class=" mt15">
                      <div class="left"><em class="cf40">*</em><span class="c999">回复内容：</span></div>
                      <div class="left"><textarea style="width:400px; height:100px;"></textarea></div></p>
          </div>
            <div class="clear"></div>
            <p class="mt30 text_c">
                <a class="ml10" href="###" onclick="hidetelts('cover','wsh_pop');"><img src="../images/tc_tdqd.gif" alt="完成"></a>
            </p>
        
   </div>
</div>
<!--tanchu -->
</body>
</html>
