<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript">
$(function(){
	$(".hd_xzsp").click(function(){
		$("#hd_sptj").show();
	});
	$(".hd_sptj").click(function(){
		$("#hd_sptj").hide();
	});
})
</script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 活动配置
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top" style="border-bottom:none;">
				<p class="hb_r_top_tit">配置活动基本属性</p>
          	</div>
            <div class="hd_box">
            	<div id="hd_jbsx">
                    <p class="hd_title">基本属性</p>
                    <table cellpadding="0" cellspacing="0" border="0" class="hd_list">
                        <tr>
                            <td width="105" align="right">活动编号：</td>
                            <td width="240"><input name="" type="text" class="hd_inp" /></td>
                            <td width="105" align="right"><em class="cf40">*</em>活动类型：</td>
                            <td>
                                <select name="" class="w165">
                                  <option>请选择</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right"><em class="cf40">*</em>活动名称：</td>
                            <td><input name="" type="text" class="hd_inp" /></td>
                            <td align="right"><em class="cf40">*</em>活动地区：</td>
                            <td>
                                <select name="" class="w165">
                                  <option>请选择</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <p class="text_c mt15"><a href="###" class="hd_an2">下一步</a></p>
                </div>
                
                <div id="hd_splb">
                    <p class="hd_title2">团购列表</p>
                    <div class="hd_tglbnr">
                    	<p class="hd_tglbnr_jt"><img src="../images/hd_jt.gif" width="12" height="9" /></p>
                        <table cellpadding="0" cellspacing="0" border="0" class="hd_table mt10">
                            <tr>
                                <th>手机品牌</th>
                                <th>手机型号</th>
                                <th>手机颜色</th>
                                <th width="80">生效时间</th>
                                <th width="80">失效时间</th>
                                <th>数量</th>
                                <th>商城价</th>
                                <th>价格(元)</th>
                                <th>节省（元）</th>
                                <th style="border-right:1px solid #e6e6e6">操作</th>
                            </tr>
                            <tr>
                                <td>HTC s1005</td>
                                <td>S1008_NAME</td>
                                <td>银灰</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>222</td>
                                <td>444</td>
                                <td>222</td>
                                <td>222</td>
                                <td>
                                    <a href="#">查看</a>
                                    |
                                    <a href="#">编辑</a>
                                    |
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr class="bf9f9f9">
                                <td>HTC s1005</td>
                                <td>S1008_NAME</td>
                                <td>银灰</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>222</td>
                                <td>444</td>
                                <td>222</td>
                                <td>222</td>
                                <td>
                                    <a href="#">查看</a>
                                    |
                                    <a href="#">编辑</a>
                                    |
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>HTC s1005</td>
                                <td>S1008_NAME</td>
                                <td>银灰</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>222</td>
                                <td>444</td>
                                <td>222</td>
                                <td>222</td>
                                <td>
                                    <a href="#">查看</a>
                                    |
                                    <a href="#">编辑</a>
                                    |
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr class="bf9f9f9">
                                <td>HTC s1005</td>
                                <td>S1008_NAME</td>
                                <td>银灰</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>2014-01-22 15:26:23</td>
                                <td>222</td>
                                <td>444</td>
                                <td>222</td>
                                <td>222</td>
                                <td>
                                    <a href="#">查看</a>
                                    |
                                    <a href="#">编辑</a>
                                    |
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                        </table>
                        <div class="nb_page mt10 pr10">
                            <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                            <a href="#" class="nvadq">1</a>
                            <a href="#">2</a>
                            <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
                        </div>
                    </div>
                    <p class="text_c mt15"><a href="###" class="hd_an">提交审核</a> <a href="###" class="hd_an2 hd_xzsp">新增商品</a></p>
                </div>
                
                
                <div id="hd_sptj" class="none">
                  <p class="hd_title">商品添加</p>
                  	<table cellpadding="0" cellspacing="0" border="0" class="hd_list">
                      	<tr>
                          	<td width="105" align="right"><em class="cf40">*</em>商品名称：</td>
                          	<td width="130"><input name="" type="text" class="hd_inp2" /></td>
                            <td width="90"><a href="#"><img src="../images/icon_xzsp.gif" width="64" height="27" alt="选择商品" /></a></td>
                          	<td width="105" align="right"><em class="cf40">*</em>商品原价：</td>
                          	<td><input name="" type="text" class="hd_inp" /></td>
                      	</tr>
                      	<tr>
                          	<td align="right"><em class="cf40">*</em>团购价格：</td>
                          	<td colspan="2"><input name="" type="text" class="hd_inp" /></td>
                          	<td align="right"><em class="cf40">*</em>团购时间：</td>
                          	<td><input name="" type="text" class="hd_inp3" /> 至 <input name="" type="text" class="hd_inp3" /></td>
                      	</tr>
                        <tr>
                        	<td align="right"><em class="cf40">*</em>每人最高限购：</td>
                            <td colspan="2"><input name="" type="text" class="hd_inp" /></td>
                            <td align="right"><em class="cf40">*</em>团购库存：</td>
                            <td><input name="" type="text" class="hd_inp" /></td>
                        </tr>
                        <tr>
                        	<td align="right"><em class="cf40">*</em>单次最低购买：</td>
                            <td colspan="2"><input name="" type="text" class="hd_inp" /></td>
                            <td align="right"><em class="cf40">*</em>生效台数：</td>
                            <td><input name="" type="text" class="hd_inp" /></td>
                        </tr>
                        <tr>
                        	<td align="right" valign="top"><em class="cf40">*</em>卖点：</td>
                            <td colspan="8">
                            	<input name="" type="text" class="hd_inp4" />
                                限输入不超过100个字
                            </td>
                        </tr>
                        <tr>
                        	<td align="right" valign="top"><em class="cf40">*</em>温馨提示：</td>
                            <td colspan="8"><img src="../images/hd_bjq.gif" /></td>
                        </tr>
                  	</table>
              		<p class="text_c mt15"><a href="###" class="hd_an hd_sptj">保存</a></p>
                </div>
            </div>
        </div>
        <!--右侧 结束-->
    </div>
    
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
