<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<link href="../css/ddjs.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
sss
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
<!--#include virtual="/include/hb_top.html"-->   
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> >订单录入</div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
      <div class="hb_cont_r">
        	<div class="hb_r_top">
            	<p class="hb_r_top_tit">订单录入</p>
                <ul class="hb_r_top_nr">
                	<li>
                    	<span>交易提醒：</span>
                        <a href="#">待付款（0）</a>
                        <a href="#">待确认收货（0）</a>
                        <a href="#">待评价（0）</a>
                    </li>
                    <li>
                    	<span>消息提醒：</span>
                        <a href="#" class="a0085d0">降价提醒（4）</a>
                        <a href="#" class="a0085d0">新品上架（5）</a>
                        <a href="#" class="a0085d0">服务提醒（7）</a>
                        <a href="#" class="a0085d0">物流提醒（8）</a>
                    </li>
                </ul>
            </div>
            
            <div class="nb_r_tit mt15">
            	<div class="nb_r_xld">
                	<p class="nb_r_xld_l1">选择手机</p>
                    <p class="nb_r_xld_r2"></p>
                    <div class="nb_r_xldyc">
                    	<p class="nb_r_xldycgb"><a href="###"><img src="../images/nb_r_xldyc_gb.gif" width="22" height="22" alt="关闭" /></a></p>
                        <ul>
                        	<li>
                            	<span>不限：</span>
                                <a href="###" class="a0085d0">全部类型</a>
                            </li>
                            <li>
                            	<span>类型：</span>
                                <a href="###" class="a0085d0">手机</a>
                                <a href="###" class="a0085d0">号卡</a>
                                <a href="###" class="a0085d0">配件</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nb_r_tit_r">
                	<input name="" type="text" class="nb_input" onblur="if(this.value == '') this.value = this.defaultValue" onfocus="if(this.value == this.defaultValue) this.value = ''"/>
                    <a href="#" class="nb_icon">查询</a>
                    <a href="#" class="nb_icon">导出</a>
                </div>
                <div class="clear"></div>
            </div>
            
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
            	<tr>
                	<th width="141">商品名称</th>
                    <th width="91">品牌</th>
                    <th width="132">
                  型号</th>
                    <th width="143">颜色</th>
                    <th width="153">库存</th>
                    <th width="103" style="border-right:1px solid #e6e6e6">数量</th>
                    <th width="72" style="border-right:1px solid #e6e6e6">操作</th>
            	</tr>
                <tr>
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text2" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr>
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text3" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text4" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr>
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text5" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                	<td height="43"><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text6" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr>
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text7" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text72" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr>
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td class="bf9f9f9">三星</td>
                    <td class="bf9f9f9">i9580</td>
                    <td class="bf9f9f9">黑色</td>
                    <td class="bf9f9f9">110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text73" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                	<td><a href="#">MIUI/小米 小米手机3</a></td>
                    <td>三星</td>
                    <td>i9580</td>
                    <td>黑色</td>
                    <td>110</td>
                    <td><div class="tab_zja">
                      <div class="tab_jia"><img src="../images/tab_jia.gif" /></div>
                      <div class="tab_inpsb">
                        <input name="text74" type="text" />
                      </div>
                      <div class="tab_jian"><img src="../images/tab_jian.gif" /></div>
                    </div></td>
                    <td><a href="#" class="a0085d0">删除</a></td>
                </tr>
            </table>
            <div class="nb_page mt10">
            	<a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                <a href="#" class="nvadq">1</a>
                <a href="#">2</a>
                <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
            </div>
			
			<div class="pay_ddjs_shrxx mt10">
            	<div class="pay_ddjs_step1" style="width:833px;">
            	<div class="step-title">
                	<strong class=" font14">收货人信息</strong>
                	<span class="step-action"><a  id="xgdd" href="#none">[修改]</a></span>
                	<span class="step-action" style="display:none;" id="bcshrxx"><a href="#none">保存收货人信息</a></span>
                </div>
                <div class="step-content">
                
                	<div class="sbox-wrap">
                    	<p>张伟  &nbsp; 15801111111 &nbsp;  &nbsp; 
		<br>安徽 合肥市 蜀山区 五里墩街道 合作化南路166号</p>
                    </div>
                
                </div>
            	<div class="sbox" style="display:none;">
                	<div class="ddjs_address item-selected">
                    	<input type="radio" name="address" checked="checked"  />
                        <label><b>张伟</b>&nbsp; 安徽 合肥市 蜀山区 五里墩街道 合作化南路166号 &nbsp; 15801111111 &nbsp;</label>
                    	<span class="item-action hide" style="display: none;">				
				   			<a onclick="show_ConsigneeDetail('74622212')" href="#none">编辑</a> &nbsp; 
				   					  <a onclick="delete_Consignee('74622212')" href="#none">删除</a>&nbsp;						
				   				 </span>	
                    </div>
                	<div class="ddjs_address">
                    	<input type="radio" name="address"  />
                    	<label><b>张伟</b>&nbsp; 安徽 合肥市 蜀山区 五里墩街道 合作化南路166号 &nbsp; 15801111111 &nbsp;</label>
                    	<span class="item-action hide" style="display: none;">				
				   			<a onclick="show_ConsigneeDetail('74622212')" href="#none">编辑</a> &nbsp; 
				   					  <a onclick="delete_Consignee('74622212')" href="#none">删除</a>&nbsp;						
				   				 </span>	
                    </div>
                    <div class="ddjs_address1">
                    	<label id="newddd"><input type="radio"  name="address" />使用新地址</label>
                    </div>
                    <div class="pay_newadd" style="display:none;">
                    	<div class="newadd_list">
                    		<span class="label"><em>*</em>收货人：</span>
                            <div class="field">
                            	<input type="text"  maxlength="20"  class="textbox">
                            </div>
                    	</div>
                        <div class="newadd_list select-address">
                    		<span class="label"><em>*</em>所在地址：</span>
                            <div class="field">
                            	<span><select><option value="">请选择：</option><option value="1">北京*</option><option value="2">上海*</option></select></span>
                                <span><select><option value="">请选择：</option></select></span>
                                <span><select><option value="">请选择：</option></select></span>
                                <span class="form-tip">&nbsp;&nbsp;标"*"的为支持货到付款的地区,<a id="codHelpUrl" href="#" target="_blank" style="color:#005EA7">查看货到付款地区</a></span>
                            	</div>
                            </div>
                            <div class="newadd_list full-address">
                    		<span class="label"><em>*</em>详细地址：</span>
                            <div class="field">
                            	<input type="text"  maxlength="50"  class="textbox">
                            </div>
                    	</div>
                        <div class="newadd_list">
                    		<span class="label"><em>*</em>手机号码：</span>
                            <div class="field">
                            	<div class="add_phone">
                            	<input type="text"  maxlength="20"  class="textbox"><em>或</em><span style="color:#666;">固定电话：</span><input type="text"  maxlength="20"  class="textbox">
                                </div>
                            </div>
                    	</div>
                        <div class="newadd_list">
                    		<span class="label">邮箱：</span>
                            <div class="field">
                            	<input type="text"  maxlength="20"  class="textbox">
                                <span class="form-tip">用来接收订单提醒邮件，便于您及时了解订单状态</span>
                            </div>
                    	</div>
                        
            			<div class="form-btn group">
                    <a class="btn-submit" href="ddjs.html"><span>保存收货人信息</span></a>
                </div>
                    	</div>
                    </div>
                    
                
                </div>
                <div class="clear"></div>
                            </div>  
                
                <div class="mt10" style="padding:15px;">
                	<p class="fontb cf40 font14">订单备注:</p>
                	<p><textarea name="" cols="" rows="" style="width:100%;height:100px;"></textarea></p>
                    <p class="mt10"><a href="#"><img src="../images/tjdd_but.gif" width="137" height="37" alt="提交订单" /></a></p>
                </div>
           </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
