<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript">
$(function(){
	$("#wt_tjtp1").click(function(){
		$("#wt_tjtp2").show();
	});
	$("#wt_tjtp2").click(function(){
		$("#wt_tjtp3").show();
	});
	$("#wt_tjtp3").click(function(){
		$("#wt_tjtp4").show();
	});
	$("#wt_tjtp4").click(function(){
		$("#wt_tjtp5").show();
	});
})
</script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 消息管理
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_leftmj.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
          <div class="hb_r_top">
            <p class="hb_r_top_tit">消息管理</p>
            <ul class="hb_r_top_nr">
              <li> <span>交易提醒：</span> <a href="#">待付款（0）</a> <a href="#">待确认收货（0）</a> <a href="#">待评价（0）</a></li>
              <li> <span>消息提醒：</span> <a href="#" class="a0085d0">降价提醒（4）</a> <a href="#" class="a0085d0">新品上架（5）</a> <a href="#" class="a0085d0">服务提醒（7）</a> <a href="#" class="a0085d0">物流提醒（8）</a></li>
            </ul>
          </div>
          <div class="nb_hdm_tit mt10">
            <ul>
              <li class="hover" id="hbwt1" >
                <p>消息管理</p>
              </li>
             
             
             
            </ul>
          </div>
            
            <div>
           	  <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
            	  <tr class="tabbj">
            	    <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
            	      <input name="checkbox" type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
            	      <b>全部</b></div>
            	      <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plsc.gif" width="65" height="22" /></a></div>
            	      <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#" onclick="showtelts('cover','wsh_pop');"><img src="../images/fbxxx.gif" width="79" height="22" /></a></div></td>
          	    </tr>
          	  </table>
            	<table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
                    <tr>
                        <th width="410" class="nbzhbg">内容</th>
                        <th width="147" class="nbzhbg"><span class="brfff">
                          <select name="select2">
                            <option>全部类别</option>
                            <option>已查看</option>
                            <option>未查看</option>
                          </select>
                        </span></th>
                        <th width="166" class="nbzhbg">发布时间</th>
                        <th width="114" class="nbzhbg">操作</th>
                    </tr>
                    
                    <tr>
                      <td height="47" class="nbzhbg">
                        <input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                     <span > 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                        <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a> </td>
                    </tr>
                    
                    <tr class="bf9f9f9">
                      <td height="54" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span > 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">降价提醒</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="47" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span> 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="56" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span> 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="53" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span> 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    
                    <tr class="bf9f9f9">
                      <td height="57" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span > 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="47" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span> 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="48" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span > 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="55" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span> 您 有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="51" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span > 您有一张10元有优惠券到帐啦，请注意查收！</span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                  </tr>
                </table>
                <div class="nb_page mt10">
                    <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                    <a href="#" class="nvadq">1</a>
                    <a href="#">2</a>
                    <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
                </div>
            </div>
          
          
            
      </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>


<div id="cover"></div>
    <!--tanchu -->
   <div class="hb_tc645" id="wsh_pop">
    	<div class="hb_tc_tit">
        	<span>发布新消息</span>
        	<a href="###" class="right mt10" onclick="hidetelts('cover','wsh_pop');"><img src="../images/tc_gb.gif" height="27" width="27" alt="关闭" /></a>
        </div>
    	<div class="hb_tc_nr1">
    	  <div class="nb_r_cont_nr">
                      <p class=" mt15"><div style="height:30px;">选择类别：
                        <span class="brfff">
                        <select name="select">
                          <option>全部类别</option>
                          <option>降价提醒</option>
                          <option>物流提醒</option>
                          <option>服务提醒</option>
                          <option>新品上架</option>
                        </select>
                        </span>
                        </div>
                      <div class="left"><em class="cf40">*</em><span class="c999">消息内容：</span></div>
                      <div class="left"><textarea style="width:400px; height:100px;"></textarea></div></p>
          </div>
            <div class="clear"></div>
            <p class="mt30 text_c">
                <a class="ml10" href="###" onclick="hidetelts('cover','wsh_pop');"><img src="../images/tc_tdqd.gif" alt="完成"></a>
            </p>
        
   </div>
</div>
<!--tanchu -->


</body>
</html>
