<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript">
$(function(){
	$("#wt_tjtp1").click(function(){
		$("#wt_tjtp2").show();
	});
	$("#wt_tjtp2").click(function(){
		$("#wt_tjtp3").show();
	});
	$("#wt_tjtp3").click(function(){
		$("#wt_tjtp4").show();
	});
	$("#wt_tjtp4").click(function(){
		$("#wt_tjtp5").show();
	});
})
</script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 优惠券配置
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_leftmj.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
          <div class="hb_r_top">
            <p class="hb_r_top_tit">优惠券配置</p>
            <ul class="hb_r_top_nr">
              <li> <span>交易提醒：</span> <a href="#">待付款（0）</a> <a href="#">待确认收货（0）</a> <a href="#">待评价（0）</a></li>
              <li> <span>消息提醒：</span> <a href="#" class="a0085d0">降价提醒（4）</a> <a href="#" class="a0085d0">新品上架（5）</a> <a href="#" class="a0085d0">服务提醒（7）</a> <a href="#" class="a0085d0">物流提醒（8）</a></li>
            </ul>
          </div>
          <div class="nb_hdm_tit mt10">
            	<ul>
                	<li class="hover" id="hbwt1" >
                	  <p>优惠券</p></li>
           	  </ul>
            	<div style="text-align:right; margin-right:10px;vertical-align:middle; float:right;"><a href="mj_yhjglxz.html"><img src="../images/add_yhj.gif" /></a></div>
            </div>
            
            <div id="con_hbwt_1">
              <table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
                  <tr>
                        <th width="119" class="nbzhbg">名称</th>
                        <th width="92" class="nbzhbg">面值（元）</th>
                        <th width="114" class="nbzhbg">使用条件</th>
                        <th width="108" class="nbzhbg">生效时间</th>
                        <th width="98" class="nbzhbg">失效时间</th>
                        <th width="105" class="nbzhbg">使用限制</th>
                      <th width="105" class="nbzhbg"><select name="select">
                        <option>全部状态</option>
                        <option>已使用</option>
                        <option>未使用</option>
                        <option>过期</option>
                      </select></th>
                      <th width="96" class="nbzhbg">操作</th>
                    </tr>
                    
                    <tr>
                        <td class="nbzhbg">手机折扣券</td>
                        <td class="nbzhbg">100</td>
                        <td class="nbzhbg">满2000元使用</td>
                        <td class="nbzhbg">2014-01-22 15:26:23</td>
                        <td class="nbzhbg">2014-01-22 15:26:23</td>
                        <td class="nbzhbg">限购买本店铺</td>
                        <td class="nbzhbg">已使用</td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    
                    <tr class="bf9f9f9">
                      <td height="61" class="nbzhbg">手机折扣券</td>
                        <td class="nbzhbg">100</td>
                        <td class="nbzhbg">满2000元使用</td>
                        <td class="nbzhbg">2014-01-22 15:26:23</td>
                        <td class="nbzhbg">2014-01-22 15:26:23</td>
                        <td class="nbzhbg">限购买本店铺</td>
                        <td class="nbzhbg">未使用</td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    
                    <tr>
                      <td class="nbzhbg">手机折扣券</td>
                      <td class="nbzhbg">100</td>
                      <td class="nbzhbg">满2000元使用</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">限购买本店铺</td>
                      <td class="nbzhbg">已使用</td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                  
                    <tr class="bf9f9f9">
                      <td height="59" class="nbzhbg">手机折扣券</td>
                      <td class="nbzhbg">100</td>
                      <td class="nbzhbg">满2000元使用</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">限购买本店铺</td>
                      <td class="nbzhbg">未使用</td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                   
                    <tr>
                      <td class="nbzhbg">手机折扣券</td>
                      <td class="nbzhbg">100</td>
                      <td class="nbzhbg">满2000元使用</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">限购买本店铺</td>
                      <td class="nbzhbg">已使用</td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    
                    <tr class="bf9f9f9">
                      <td height="63" class="nbzhbg">手机折扣券</td>
                      <td class="nbzhbg">100</td>
                      <td class="nbzhbg">满2000元使用</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">限购买本店铺</td>
                      <td class="nbzhbg">未使用</td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td class="nbzhbg">手机折扣券</td>
                      <td class="nbzhbg">100</td>
                      <td class="nbzhbg">满2000元使用</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">限购买本店铺</td>
                      <td class="nbzhbg">已使用</td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="59" class="nbzhbg">手机折扣券</td>
                      <td class="nbzhbg">100</td>
                      <td class="nbzhbg">满2000元使用</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">2014-01-22 15:26:23</td>
                      <td class="nbzhbg">限购买本店铺</td>
                      <td class="nbzhbg">未使用</td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                </table>
                <div class="nb_page mt10">
                    <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                    <a href="#" class="nvadq">1</a>
                    <a href="#">2</a>
                    <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
                </div>
          </div>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
