<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 自有营业厅库存配置</div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_leftmj.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top">
            	<p class="hb_r_top_tit">自有营业厅库存配置</p>
                <ul class="hb_r_top_nr">
                	<li>
                    	<span>交易提醒：</span>
                        <a href="#">待付款（0）</a>
                        <a href="#">待确认收货（0）</a>
                        <a href="#">待评价（0）</a>
                  </li>
                    <li>
                    	<span>消息提醒：</span>
                        <a href="#" class="a0085d0">降价提醒（4）</a>
                        <a href="#" class="a0085d0">新品上架（5）</a>
                        <a href="#" class="a0085d0">服务提醒（7）</a>
                        <a href="#" class="a0085d0">物流提醒（8）</a>
                    </li>
              </ul>
          </div>
            
            <div class="nb_r_tit mt15">
            	<div class="nb_r_xld">
                	<p class="nb_r_xld_l">营业厅库存配置</p>
                    <p class="nb_r_xld_r"></p>
                    <div class="nb_r_xldyc">
                    	<p class="nb_r_xldycgb"><a href="###"><img src="../images/nb_r_xldyc_gb.gif" width="22" height="22" alt="关闭" /></a></p>
                        <ul>
                        	<li>
                            	<span>不限：</span>
                                <a href="###" class="a0085d0">全部类型</a>
                            </li>
                            <li>
                            	<span>类型：</span>
                                <a href="###" class="a0085d0">手机</a>
                                <a href="###" class="a0085d0">号卡</a>
                                <a href="###" class="a0085d0">配件</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nb_r_tit_r">
                	<input name="" type="text" class="nb_input"  onblur="if(this.value == '') this.value = this.defaultValue" onfocus="if(this.value == this.defaultValue) this.value = ''"/>
                    <a href="#" class="nb_icon">查询</a>
                </div>
                <div class="clear"></div>
            </div>
            
            <div class="hb_r_table">
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
              <tr class="tabbj">
                <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                  <b>全部</b></div>
                  <div style="text-align:right; margin-right:10px;vertical-align:middle; float:right;"><a href="mj_xzspkcpz.html" target="_blank"><img src="../css/images/pc_xz.gif" /></a></div></td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" class="order_tabtit text_c">
                    	<thead>
                        	<tr>
                                <th width="162" class="brfff">名称</th>
                                <th width="93" class="brfff">品牌</th>
<th width="107" class="brfff">
                                	型号
                                </th>
                                <th width="77" class="brfff">
                                	颜色
                                </th>
                                <th width="71">安全库存</th>
                                <th width="156">创建时间</th>
                                <th width="170">操作</th>
                            </tr>
                           
                            <tr>
                            	<td height="43" align="left"><div class="left ml5 mt5"></div>
                            	  <span class="left pl10">
                            	  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                           	    </span>
                                <span class="pl15">T9500(相机)</span>
                                
                                
                                </td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              	<td class="cl808080">黄色</td>
                                <td>4</td>
                                <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                                <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr class="tabbj">
                            	<td height="43" align="left"><div class="left ml5 mt5"></div>
                                  <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span>  <span class="pl15">T9500(相机)</span> </td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              	<td class="cl808080">黄色</td>
                                <td>4</td>
                                <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                                <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr>
                            	<td height="43" align="left"><div class="left ml5 mt5"></div>
                                  <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span>  <span class="pl15">T9500(相机)</span> </td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              	<td class="cl808080">黄色</td>
                                <td>4</td>
                                <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                                <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr class="tabbj">
                            	<td height="50" align="left"><div class="left ml5 mt5"></div>
                                  <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span>  <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              	<td class="cl808080">黄色</td>
                                <td>4</td>
                                <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                                <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr>
                            	<td height="49" align="left"><div class="left ml5 mt5"></div>
                                  <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span> </td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              	<td class="cl808080">黄色</td>
                                <td>4</td>
                                <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                                <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr class="tabbj">
                              <td height="51" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr>
                              <td height="44" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr class="tabbj">
                              <td height="45" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr>
                              <td height="47" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr class="tabbj">
                              <td height="45" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr>
                              <td height="44" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                            <tr class="tabbj">
                              <td height="48" align="left"><div class="left ml5 mt5"></div>
                                <span class="left ml10">
                                  <input type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                                </span> <span class="pl15">T9500(相机)</span></td>
                              <td><p class="cl333333">波导</p></td>
                              <td><p class="cl808080">T9500(相机)</p></td>
                              <td class="cl808080">黄色</td>
                              <td>4</td>
                              <td><p class="cl808080">2014-01-22 15:26:23</p></td>
                              <td><p><a href="#">下架</a> | <a href="#">查看 </a> | <a href="#">优惠管理</a></p></td>
                            </tr>
                        </thead>
              </table>
            </div>
            <div class="nb_page mt10">
            	<a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                <a href="#" class="nvadq">1</a>
                <a href="#">2</a>
                <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
            </div>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
