<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<style>
.cc{background:#ccc;}
</style>
<script>
$(function(){
$(".xq_tjzh_12").hover(function(){
		$(this).addClass("cc");
	},function(){
		 $(this).removeClass("cc");
		})
})
</script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 组合销售配置
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
       	  <div class="hb_r_top">
       	    <div class="xq_tjzh_tit1 mt10">
        	    <ul>
        	      <li class="hover">优惠套装</li>
      	      </ul>
      	    </div>
        	  <div class="nb_r_cont1">
        	    <div class="nb_r_cont_nr1">
        	      <div class="xq_tjzh_cont1">
                 
        	        <div class="xq_tjzh_12">
        	          <p><a href="#"><img src="../images/xq_tjzh_img1.jpg" width="100" height="100" /></a></p>
        	          <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）小牛2 Z5S mini 3G</a></p>
        	          <p class="cf40 fontb text_c">￥1000.00</p>
      	          </div>
        	        <p class="xq_tjzh_jia"></p>
        	        <div class="xq_tjzh_4">
        	          <ul>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img2.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）亮彩后盖（樱草黄）</a></p>
        	              <p class="cf40 fontb text_c">￥96.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img3.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）带麦线控 高保真耳机</a></p>
        	              <p class="cf40 fontb text_c">￥140.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img4.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）防指纹保护膜</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img5.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">贝斯特 BST-1037 格木兰 移动电源10000ml</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img3.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）带麦线控 高保真耳机</a></p>
        	              <p class="cf40 fontb text_c">￥140.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img4.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）防指纹保护膜</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img5.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">贝斯特 BST-1037 格木兰 移动电源10000ml</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
      	            </ul>
      	          </div>
        	        <p class="xq_tjzh_deng"></p>
        	        <div class="xq_tjzh_3">
        	          <p class="c005bab fontb h36 line18 overflow">购买优惠套装</p>
        	          <p><span class="c999">总商城价：</span>
        	            <input name="textfield" type="text" id="textfield" value="1100" size="8" />
        	          </p>
        	          <p><span class="c999">总商城价：</span>
        	            <input name="textfield2" type="text" id="textfield2" value="1100" size="8" />
        	          </p>
        	          <p class="mt10"><a href="#"><img src="../images/icon_gmtz.gif" width="77" height="28" alt="购买套装" /></a></p>
      	          </div>
      	        </div>
      	      </div>
        	    <div class="xq_tjzh_tit1 mt10">
        	      <ul>
        	        <li class="hover">人气组合</li>
      	        </ul>
      	      </div>
        	    <div class="nb_r_cont_nr1">
        	      <div class="xq_tjzh_cont1">
        	        <div class="xq_tjzh_1">
        	          <p><a href="#"><img src="../images/xq_tjzh_img1.jpg" width="100" height="100" /></a></p>
        	          <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）小牛2 Z5S mini 3G</a></p>
        	          <p class="cf40 fontb text_c">￥1000.00</p>
      	          </div>
        	        <p class="xq_tjzh_jia"></p>
        	        <div class="xq_tjzh_4">
        	          <ul>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img2.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）亮彩后盖（樱草黄）</a></p>
        	              <p class="cf40 fontb text_c">￥96.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img3.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）带麦线控 高保真耳机</a></p>
        	              <p class="cf40 fontb text_c">￥140.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img4.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）防指纹保护膜</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img5.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">贝斯特 BST-1037 格木兰 移动电源10000ml</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img3.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）带麦线控 高保真耳机</a></p>
        	              <p class="cf40 fontb text_c">￥140.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img4.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">努比亚（nubia）防指纹保护膜</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
        	            <li class="xq_tjzh_jia1"></li>
        	            <li>
        	              <p><a href="#"><img src="../images/xq_tjzh_img5.jpg" width="100" height="100" /></a></p>
        	              <p class="xq_tjzh_wz"><a href="#">贝斯特 BST-1037 格木兰 移动电源10000ml</a></p>
        	              <p class="cf40 fontb text_c">￥1000.00</p>
      	              </li>
      	            </ul>
      	          </div>
        	        <p class="xq_tjzh_deng"></p>
        	        <div class="xq_tjzh_3">
        	          <p class="c005bab fontb h36 line18 overflow">购买人气组合</p>
        	          <p><span class="c999">总商城价：</span>
        	            <input name="textfield3" type="text" id="textfield3" value="1100" size="8" />
        	          </p>
        	          <p><span class="c999">总商城价：</span>
        	            <input name="textfield4" type="text" id="textfield4" value="1100" size="8" />
        	          </p>
        	          <p class="mt10"><a href="#"><img src="../images/icon_gmtz.gif" width="77" height="28" alt="购买套装" /></a></p>
      	          </div>
      	        </div>
        	    </div>
        	    <div class="nb_r_tit mt15">
        	      <div class="nb_r_xld">
        	        <p class="nb_r_xld_l">组合销售</p>
        	        <p class="nb_r_xld_r"></p>
        	        <div class="nb_r_xldyc">
        	          <p class="nb_r_xldycgb"><a href="#"><img src="../images/nb_r_xldyc_gb.gif" width="22" height="22" alt="关闭" /></a></p>
        	          <ul>
        	            <li> <span>不限：</span> <a href="#" class="a0085d0">全部类型</a> </li>
        	            <li> <span>类型：</span> <a href="#" class="a0085d0">手机</a> <a href="#" class="a0085d0">号卡</a> <a href="#" class="a0085d0">配件</a> </li>
      	            </ul>
      	          </div>
      	        </div>
        	      <div class="nb_r_tit_r">
        	        <input name="input" type="text" class="nb_input"  onblur="if(this.value == '') this.value = this.defaultValue" onfocus="if(this.value == this.defaultValue) this.value = ''" style="width:230px;" value="商品名称、补货单编号、订单编号" />
        	        <a href="#" class="nb_icon">查询</a> <a href="#" class="nb_icon">导出</a> </div>
        	      <div class="clear"></div>
      	      </div>
        	    <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
        	      <tr class="tabbj">
        	        <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
        	          <input name="checkbox" type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
        	          <b>全部</b></div>
        	          <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/pltjsh.gif" width="96" height="22" /></a></div></td>
      	        </tr>
      	      </table>
        	    <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
        	      <tr>
        	        <th width="73" style="border-right:1px solid #e6e6e6">手机品牌</th>
        	        <th width="62" style="border-right:1px solid #e6e6e6">手机型号</th>
        	        <th width="65" style="border-right:1px solid #e6e6e6">手机颜色</th>
        	        <th width="74" style="border-right:1px solid #e6e6e6">单价（元）</th>
        	        <th width="95" style="border-right:1px solid #e6e6e6">商城总价（元）</th>
        	        <th width="98" style="border-right:1px solid #e6e6e6">套餐价（元）</th>
        	        <th width="97" style="border-right:1px solid #e6e6e6">节省（元）</th>
        	        <th width="98" style="border-right:1px solid #e6e6e6">添加时间</th>
        	        <th width="95" style="border-right:1px solid #e6e6e6">审核时间</th>
        	        <th width="78" style="border-right:1px solid #e6e6e6">操作</th>
      	        </tr>
        	      <tr>
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td rowspan="3">HTCHTCHTC</td>
        	        <td rowspan="3">金属灰</td>
        	        <td rowspan="3">222222222</td>
        	        <td rowspan="3"><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td rowspan="3"><span class="cl808080">2014-01-22 15:26</span></td>
        	        <td rowspan="3"><a href="#" class="a0085d0">提交审核</a></td>
      	        </tr>
        	      <tr >
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
       	          </tr>
        	      <tr>
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
       	          </tr>
        	      <tr class="tabbj">
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td rowspan="3">HTCHTCHTC</td>
        	        <td rowspan="3">金属灰</td>
        	        <td rowspan="3">222222222</td>
        	        <td rowspan="3"><span class="cl808080">2014-01-22 15:26:23</span><span class="cl808080"></span></td>
        	        <td rowspan="3"><span class="cl808080">2014-01-22 15:26</span></td>
        	        <td rowspan="3"><a href="#" class="a0085d0">提交审核</a></td>
       	          </tr>
        	      <tr  class="tabbj">
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
       	          </tr>
        	      <tr class="tabbj">
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
       	          </tr>
        	      <tr>
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td>HTC</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><a href="#" class="a0085d0">提交审核</a></td>
      	        </tr>
        	      <tr class="tabbj">
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td>HTC</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><a href="#" class="a0085d0">提交审核</a></td>
      	        </tr>
        	      <tr>
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td>HTC</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><a href="#" class="a0085d0">提交审核</a></td>
      	        </tr>
        	      <tr class="tabbj">
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td>HTC</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><a href="#" class="a0085d0">提交审核</a></td>
      	        </tr>
        	      <tr>
        	        <td><span style="text-align:left; margin-left:10px;">
        	          <input type="checkbox" style=" vertical-align:-3px;"/>
      	          </span>HTC</td>
        	        <td>S1001</td>
        	        <td>金属灰</td>
        	        <td>222</td>
        	        <td>HTC</td>
        	        <td>金属灰</td>
        	        <td>3</td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><span class="cl808080">2014-01-22 15:26:23</span></td>
        	        <td><a href="#" class="a0085d0">提交审核</a></td>
      	        </tr>
      	      </table>
        	    <div class="nb_page mt10"> <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a> <a href="#" class="nvadq">1</a> <a href="#">2</a> <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a></div>
        	    <div class="clear"></div>
      	    </div>
        	</div>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
