<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 新商品添加
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top">
            	<p class="hb_r_top_tit">新商品添加</p>
                <div class="nb_r_cont">
                	<p class="nb_r_cont_tit">基本信息</p>
                  <div class="nb_r_cont_nra">
                    	<p><em class="cf40">*</em><span class="c999">商品名称：</span><input name="" type="text" class="wid235" /><em class="cf40 ml50">*</em><span class="c999">商品名称：</span> <select><option>请选择</option></select></p>
                    </div>
                    <div class="nb_r_cont_nra">
                    	<p><em class="cf40">　*</em><span class="c999">市场价：</span><input name="" type="text" class="wid235" /><em class="cf40 ml50">*</em><span class="c999">手机型号：</span> <select><option>请选择</option></select></p>
                    </div>
                    <div class="nb_r_cont_nra">
                    	<p><em class="cf40">*</em><span class="c999">手机单价：</span><input name="" type="text" class="wid235" /><em class="cf40 ml50"></em><span class="c999"> 　　种类：</span> <select><option>请选择</option></select></p>
                    </div>
                    <div class="nb_r_cont_nra">
                    	<p><em class="cf40">*</em><span class="c999">手机颜色：</span> <select><option>请选择</option></select>
                    	<em class="cf40" style="margin-left:140px;"></em><span class="c999"> 　　状态：</span> 
                    	<select><option>请选择</option></select></p>
                      <p class="red">(务必选择包装盒上标识手机颜色，若不在列表范围内请告知系统管理员添加）</p>
                    </div>
                  <div class="nb_r_cont_nr">
                    	<p><em class="cf40">*</em><span class="c999">详细地址：</span></p>
                        <p class="nb_r_cont_nrp"><input name="" type="text" class="wid575" /></p>
                    </div>
                  <div class="nb_r_cont_nr">
                    	<p><em class="cf40">*</em><span class="c999">价保政策：</span></p>
                        <p class="nb_r_cont_nrp"><input name="" type="text" class="wid575" /></p>
                    </div>
                  <p class="nb_r_cont_tit mt20 mb20">销售优惠</p>
                  <div class="nb_r_cont_nra"><p align="right"><a href="#"><img src="../images/zjbd.gif" /></a></p></div>
                    <div class="nb_r_cont_nra"><p class="red">提示：销售优惠信息以不超过5条为最佳。例如：数量输入5，折扣输入95，表示满5台享受95折。</p></div>
                    <div class="nb_r_cont_nra">
                   	  <p><em class="cf40">*</em><span class="c999">数量：</span><input name="" type="text" class="wid200" />
                    	<em class="cf40 ml50">*</em><span class="c999">折扣：</span> 
                    	<input name="" type="text" class="wid200" />/100<span class="ml10 red">(折扣范围10-100)</span>
                    	</p>
                    </div>
                    <div class="nb_r_cont_nra">
                   	  <p><div class="left"><span class="c999 ml5"> 描述：</span></div><div class="left"><textarea style="height:130px; width:458px;"></textarea>
                    	</div></p>
                    </div>
					<div class="clear"></div>
                  <div class="nb_r_cont_nra"><p align="right"><a href="#"><img src="../images/scbd.gif" /></a></p></div>
                  <div class="nb_r_cont_nra">
                    	<p><span class="c999">开始时间：</span><input name="" type="text" class="wid200" /><span class="c999 ml50">结束时间：</span> <input name="" type="text" class="wid200" /></p>
                  </div>
                    <div class="nb_r_cont_nra">
                    	<p><span class="c999">　总金额：</span><input name="" type="text" class="wid200" /><span class="c999 ml50">　　折扣：</span> <input name="" type="text" class="wid200" />/100<span class="ml10 red">(折扣范围10-100)</span></p>
                    </div>
                    <div class="nb_r_cont_nra">
                   	  <p><div class="left"><span class="c999 ml5"> 描述：</span></div><div class="left"><textarea style="height:130px; width:458px;"></textarea>
                    	</div></p>
                    </div>
					<div class="clear"></div>
                    <div class="nb_r_cont_nra"><p align="right"><a href="#"><img src="../images/scbd.gif" /></a></p></div>
					<p class="nb_r_cont_tit mt20 mb20">属性信息</p>
                  <div class="tab_hdm_tit">
            	<ul>
                	<li class="hover" id="nbh1" onclick="setTab('nbh',1,4)"><p>商品介绍</p></li>
                    <li id="nbh2" onclick="setTab('nbh',2,4)"><p>规则参数</p></li>
                    <li id="nbh3" onclick="setTab('nbh',3,4)"><p>包装清单</p></li>
                    <li id="nbh4" onclick="setTab('nbh',4,4)"><p>售后服务</p></li>
                </ul>
            </div>
            		<div id="con_nbh_1" class="nb_r_cont_nra_tab">
                    	<img src="../images/bjk.gif" />
                    </div>
                    
           		  <div id="con_nbh_2" class="nb_r_cont_nra_tab none" style="height:300px; overflow-y:scroll">
                    	<div class="nb_r_cont_nra">
                    		<p><em class="cf40">*</em><span class="c999">商品名称：</span><input type="text" class="wid270" name=""><em class="cf40 ml50">　　*</em><span class="c999">型号：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40">　　*</em><span class="c999">颜色：</span><input type="text" class="wid270" name=""><em class="cf40 ml50">*</em><span class="c999">上市时间：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40">*</em><span class="c999">外观设计：</span><input type="text" class="wid270" name=""><em class="cf40 ml50">*</em><span class="c999">视频通话：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40">*</em><span class="c999">操作系统：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">　智能机：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40">*</em><span class="c999"> CPU型号：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">键盘类型：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40">　　*</em><span class="c999"> CPU：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">输入方式：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40"></em><span class="c999">&nbsp;网络制式：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">网络频率：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                    </div>
                    <div id="con_nbh_3" class="nb_r_cont_nra_tab none">
                    	<div class="nb_r_cont_nra">
                    		<p><em class="cf40"></em><span class="c999">　　主机：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">　锂电池：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40"></em><span class="c999">　数据线：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">　　耳机：</span><input type="text" class="wid270" name=""></p>
                    	</div>
                        <div class="nb_r_cont_nra">
                    		<p><em class="cf40"></em><span class="c999">　充电器：</span><input type="text" class="wid270" name=""><em class="cf40 ml50"> </em><span class="c999">　数据线：</span><input type="text" class="wid270" name=""></p>
                    	</div>	
                    
                    </div>
                    <div id="con_nbh_4" class="nb_r_cont_nra_tab none">
                    	<img src="../images/bjk.gif" />
                    </div>
                    <div class="nb_r_cont_nr mb20 pt10">
                    	<a href="#"><img src="../images/qrbc.gif" width="71" height="28" alt="保存" style="vertical-align:-9px;" /></a>
                    	<a href="#"><img src="../images/nrcz.gif" width="71" height="28" alt="重置" style="vertical-align:-9px;" /></a>
                        <span><a href="#"> << 返回</a></span>
                    </div>
                </div>
          	</div>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
