<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 我的投诉查看
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
        	<div class="hb_r_top" style="border-bottom:none;">
				<p class="hb_r_top_tit"><span class="left">我的投诉查看</span><a class="a0085d0 font12 fontnor right mr10" href="#">返回 >></a></p>
          </div>
          <div class="hb_top_cont">
                	<p class="hb_top_ybut">涉及订单： <b>1004148319</b><span class="ml50">类型：产品相关</span>      <span class="ml50">状态：<b>待处理</b></span> <span class="jxly"><a href="#" id="tsjxly"><img src="../images/jxly.gif" /></a> <a href="#" onclick="showtelts('cover','wsh_pop');"><img src="../images/yjj.gif" /></a></span></p>
                	<p>您已提交成功，我们的客服人员将尽快处理。</p>
                </div>
          <div class="hb_r_tsck">
          	<div class="hb_r_tsck_tit">详细信息</div> 
            <div class="hb_tsck_nr">
            	<p><b>投诉内容：</b>手机配件没有赠送！</p>
                <p><span><b>提交时间：</b>2014-02-24 14：37:58</span></p>
            </div>
            
        </div>
        <div class="clear"></div>
            <div class="hb_tsck_ly" style="display:none;">
            	<div class="left"><b>我的留言：</b></div>
                <div class="left"><textarea></textarea>
                	<p>还可以输入500字</p>
                	<p class=" mt25"><a href="#"><img src="../images/ts_tj.gif" /></a></p>
				</div>
			</div>
          </div>
            
        </div>
        <!--右侧 结束-->
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
    <div id="cover"></div>
    <!--tanchu -->
    <div class="hb_tc" id="wsh_pop">
    	<div class="hb_tc_tit">
        	<span>提示</span>
        	<a href="###" class="right mt10" onclick="hidetelts('cover','wsh_pop');"><img src="../images/tc_gb.gif" height="27" width="27" alt="关闭" /></a>
        </div>
    	<div class="hb_tc_nr">
        	<p>确认你的投诉已得到妥善解决？</p>
            <p class="mt30 text_c">
                <a href="###" onclick="hidetelts('cover','wsh_pop');"><img src="../images/tc_sd.gif" alt="完成"></a>
                <a href="###" onclick="hidetelts('cover','wsh_pop');" class="ml10 cl005ea7">还没解决</a>
            </p>
        
        </div>
    </div>
<!--tanchu -->
</body>
</html>
