<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZSCAT电子交易平台</title>
<link href="../css/public.css" rel="stylesheet" type="text/css" />
<link href="../css/css.css" rel="stylesheet" type="text/css" />
<link href="../css/hbcss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript">
$(function(){
	$("#wt_tjtp1").click(function(){
		$("#wt_tjtp2").show();
	});
	$("#wt_tjtp2").click(function(){
		$("#wt_tjtp3").show();
	});
	$("#wt_tjtp3").click(function(){
		$("#wt_tjtp4").show();
	});
	$("#wt_tjtp4").click(function(){
		$("#wt_tjtp5").show();
	});
})
</script>
</head>

<body>dssadfasf
<!--top 开始-->
<!--#include virtual="/include/top.html"-->
<!--top 结束-->
<div class="content">
    <!--和包导航 开始-->
	<!--#include virtual="/include/hb_top.html"-->    
    <!--和包导航 结束-->
    
    <div class="hb_mbx">
    	<a href="#">我的和包</a> > 我的消息
    </div>
    <div class="clear"></div>
    
    <div class="hb_cont">   
        <!--左侧 开始-->
        <!--#include virtual="/include/hb_left.html"-->    
        <!--左侧 结束-->
        <!--右侧 开始-->
        <div class="hb_cont_r">
          <div class="hb_r_top">
            <p class="hb_r_top_tit">我的消息</p>
            <ul class="hb_r_top_nr">
              <li> <span>交易提醒：</span> <a href="#">待付款（0）</a> <a href="#">待确认收货（0）</a> <a href="#">待评价（0）</a></li>
              <li> <span>消息提醒：</span> <a href="#" class="a0085d0">降价提醒（4）</a> <a href="#" class="a0085d0">新品上架（5）</a> <a href="#" class="a0085d0">物流提醒（7）</a> <a href="#" class="a0085d0">物流提醒（8）</a></li>
            </ul>
          </div>
          <div class="nb_hdm_tit mt10">
            <ul>
              <li class="hover" id="hbwt1" onclick="setTab('hbwt',1,4)">
                <p>降价提醒</p>
              </li>
              <li id="hbwt2" onclick="setTab('hbwt',2,4)">
                <p>物流提醒</p>
              </li>
              <li id="hbwt3" onclick="setTab('hbwt',3,4)">
                <p>服务提醒</p>
              </li>
              <li id="hbwt4" onclick="setTab('hbwt',4,4)">
                <p>新品上架</p>
              </li>
            </ul>
          </div>
            
            <div id="con_hbwt_1">
           	  <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
            	  <tr class="tabbj">
            	    <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
            	      <input name="checkbox" type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
            	      <b>全部</b></div>
            	      <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plsc.gif" width="65" height="22" /></a></div>
            	      <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plszyd.gif" width="93" height="22" /></a></div></td>
          	    </tr>
          	  </table>
            	<table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
                    <tr>
                        <th width="500" class="nbzhbg">内容</th>
                        <th width="79" class="nbzhbg">类别</th>
                        <th width="92" class="nbzhbg"><span class="brfff">
                          <select name="select3">
                            <option>全部状态</option>
                            <option>已查看</option>
                            <option>未查看</option>
                          </select>
                        </span></th>
                        <th width="99" class="nbzhbg">发布时间</th>
                        <th width="67" class="nbzhbg">操作</th>
                    </tr>
                    
                    <tr>
                      <td height="57" class="nbzhbg">
                        <input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                        <span class="spantxt right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                        <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">已查看</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    
                    <tr class="bf9f9f9">
                      <td height="64" class="nbzhbg"><input name="input5" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />                        <span class="spantxt right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">未查看</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="57" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">已查看</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="53" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">未查看</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="57" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt1 right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">已查看</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    
                    <tr class="bf9f9f9">
                      <td height="55" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt1 right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                        <td class="nbzhbg">未查看</td>
                        <td class="nbzhbg">2014-01-22  15:26:23 </td>
                        <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="57" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt1 right">三星S5白色降价啦，快去抢购！ <a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">已查看</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="47" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">未查看</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td height="57" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">未查看</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                    </tr>
                    <tr class="bf9f9f9">
                      <td height="47" class="nbzhbg"><input name="input" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                      <span class="spantxt1 right">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                      <td class="nbzhbg">服务提醒</td>
                      <td class="nbzhbg">已查看</td>
                      <td class="nbzhbg">2014-01-22  15:26:23 </td>
                      <td class="nbzhbg"><a href="">删除</a></td>
                  </tr>
                </table>
                <div class="nb_page mt10">
                    <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a>
                    <a href="#" class="nvadq">1</a>
                    <a href="#">2</a>
                    <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a>
                </div>
            </div>
          <div id="con_hbwt_2" class="none">
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
                <tr class="tabbj">
                  <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
                    <input name="checkbox2" type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                    <b>全部</b></div>
                    <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plsc.gif" width="65" height="22" /></a></div>
                    <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plszyd.gif" width="93" height="22" /></a></div></td>
                </tr>
              </table>
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
              <tr>
                <th width="489" class="nbzhbg">内容</th>
                <th width="81" class="nbzhbg">类别</th>
                <th width="85" class="nbzhbg"><span class="brfff">
                  <select name="select4">
                    <option>全部状态</option>
                    <option>已查看</option>
                    <option>未查看</option>
                  </select>
                </span></th>
                <th width="113" class="nbzhbg">发布时间</th>
                <th width="69" class="nbzhbg">操作</th>
              </tr>
              <tr>
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1"> 流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr class="bf9f9f9">
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">未查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr>
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt1">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr class="bf9f9f9">
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">未查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr>
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt1">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr class="bf9f9f9">
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">未查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr>
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt1">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr class="bf9f9f9">
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt1">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr>
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt1">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
              <tr class="bf9f9f9">
                <td height="67" class="nbzhbg"><input name="input2" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                <span class="spantxt1">流水号******有回复，请进入我的投诉查看！　<a href="#">查看详情&gt;&gt; </a></span></td>
                <td class="nbzhbg">物流提醒</td>
                <td class="nbzhbg">已查看</td>
                <td class="nbzhbg">2014-01-22  15:26:23 </td>
                <td class="nbzhbg"><a href="">删除</a></td>
              </tr>
            </table>
            <div class="nb_page mt10"> <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a> <a href="#" class="nvadq">1</a> <a href="#">2</a> <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a> </div>
          </div>
          <div id="con_hbwt_3" class="none">
            <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
                <tr class="tabbj">
                  <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
                    <input name="checkbox3" type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                    <b>全部</b></div>
                    <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plsc.gif" width="65" height="22" /></a></div>
                    <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plszyd.gif" width="93" height="22" /></a></div></td>
                </tr>
              </table>
              <table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
                <tr>
                  <th width="489" class="nbzhbg">内容</th>
                  <th width="81" class="nbzhbg">类别</th>
                  <th width="85" class="nbzhbg"><span class="brfff">
                    <select name="select">
                      <option>全部状态</option>
                      <option>已查看</option>
                      <option>未查看</option>
                    </select>
                  </span></th>
                  <th width="113" class="nbzhbg">发布时间</th>
                  <th width="69" class="nbzhbg">操作</th>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input3" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input6" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">未查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input7" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input8" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">未查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input9" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input10" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">未查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input11" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input3" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input3" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input3" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色降价啦，快去抢购！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">降价提醒</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
              </table>
              <div class="nb_page mt10"> <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a> <a href="#" class="nvadq">1</a> <a href="#">2</a> <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a> </div>
          </div>
            <div id="con_hbwt_4" class="none">
              <table cellpadding="0" cellspacing="0" border="0" class="nb_table">
                <tr class="tabbj">
                  <td colspan="6" style=" padding:5px 10px 0 0; "><div class="left ml10">
                    <input name="checkbox4" type="checkbox" style="margin-top:5px; vertical-align:-3px;" />
                    <b>全部</b></div>
                    <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plsc.gif" width="65" height="22" /></a></div>
                    <div style="text-align:right; margin-left:10px;vertical-align:middle; float:left;"><a href="#"><img src="../images/plszyd.gif" width="93" height="22" /></a></div></td>
                </tr>
              </table>
              <table cellpadding="0" cellspacing="0" border="0" class="nb_table2">
                <tr>
                  <th width="489" class="nbzhbg">内容</th>
                  <th width="81" class="nbzhbg">类别</th>
                  <th width="85" class="nbzhbg"><span class="brfff">
                    <select name="select2">
                      <option>全部状态</option>
                      <option>已查看</option>
                      <option>未查看</option>
                    </select>
                  </span></th>
                  <th width="113" class="nbzhbg">发布时间</th>
                  <th width="69" class="nbzhbg">操作</th>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr>
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
                <tr class="bf9f9f9">
                  <td height="67" class="nbzhbg"><input name="input4" type="checkbox" value="" style="display:block; float:left; margin-left:10px;" />
                  <span class="spantxt1">三星S5白色新品上架，数量有限，赶快抢购吧！ 　<a href="#">查看详情&gt;&gt;</a></span></td>
                  <td class="nbzhbg">新品上架</td>
                  <td class="nbzhbg">已查看</td>
                  <td class="nbzhbg">2014-01-22  15:26:23 </td>
                  <td class="nbzhbg"><a href="">删除</a></td>
                </tr>
              </table>
              <div class="nb_page mt10"> <a href="#"><img src="../images/nb_syy.gif" width="68" height="27" alt="上一页" /></a> <a href="#" class="nvadq">1</a> <a href="#">2</a> <a href="#"><img src="../images/nb_xxy.gif" width="68" height="27" alt="下一页" /></a> </div>
            </div>
            <p>&nbsp;</p>
        </div>
        <!--右侧 结束-->
    </div>
    
    <!--pay_helpcent 开始-->
    <!--#include virtual="/include/helpcent2.html"--> 
    <!--pay_helpcent 开始-->
    
    <!--foot 开始-->
    <!--#include virtual="/include/foot.html"-->   
    <!--foot 结束-->
    
</div>
</body>
</html>
